#body {
	margin-top: 75px;
}

a.navbar-brand {
	height: 100%;
	background: 
		url('/Assets/Images/little_pig.png')
		no-repeat left center;
	padding-left: 50px;
}

.move-down {
	margin-top: 25px;
}

footer {
	margin-top: 30px;
	margin-bottom: 30px;
}

.validation-summary-errors ul {
	margin: 0;
	padding: 0;
}

	.validation-summary-errors ul li {
		list-style: none;
	}

.glyphicon-plus {
	margin-left: 1px;
	margin-right: -1px;
}

.side-vertical-button {
	margin-top: 10px;
}

.logo {
	font-size: 36px;
	background: url('/Assets/Images/big_pig.png') left center no-repeat;
	height: 71px;
	padding: 13px 0 17px 95px;
	margin-left: 5px;
}
