#body {
	margin-top: 75px;
}

.move-down {
	margin-top: 25px;
}

footer {
	margin-top: 30px;
	margin-bottom: 30px;
}

.validation-summary-errors ul {
	margin: 0;
	padding: 0;
}

	.validation-summary-errors ul li {
		list-style: none;
	}

.glyphicon-plus {
	margin-right: -2px;
}

.side-vertical-button {
	margin-top: 10px;
}