@{
    ViewBag.Title = PlainText.Dictionary["ForgotPassword"];
}

<div class="HalfScreen">
    @String.Format(
        PlainText.Dictionary["FollowEmailIntructions"], 
        DFM.Email.Sender.SenderAddress)
</div>