@{
    ViewBag.Title = PlainText.Dictionary["ForgotPassword"];
}

<div class="HalfScreen">
    @String.Format(
        PlainText.Dictionary["FollowEmailIntructions"], 
        EmailSender.Sender)
</div>