@model DFM.MVC.Models.UserForgotPasswordModel

@{
    ViewBag.Title = PlainText.Dictionary["ForgotPassword"];
}

<div class="HalfScreen">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        
        <p>
            @Html.LabelFor(m => m.Email, PlainText.Dictionary["Email"])
            @Html.TextBoxFor(m => m.Email) 
        </p>

        <button type="submit">@PlainText.Dictionary["Send"]</button>
    }
</div>