@{
    ViewBag.Title = PlainText.Dictionary["Logon"];
}

<div class="HalfScreen">
    @String.Format(
        PlainText.Dictionary["LogonDeactivated", "FollowEmailIntructions"],
        DFM.Core.Email.Sender.SenderAddress)
</div>