@{
    ViewBag.Title = MultiLanguage.Dictionary["Logon"];
}

<div class="HalfScreen">
    @String.Format(
        MultiLanguage.Dictionary["LogonDeactivated", "FollowEmailIntructions"],
        DFM.Email.Sender.SenderAddress)
</div>