@{
    ViewBag.Title = PlainText.Dictionary["SignUp"];
}

<div class="HalfScreen">
    @String.Format(
        PlainText.Dictionary["SignUpSuccess", "FollowEmailIntructions"],
        DFM.Core.Email.Sender.SenderAddress)
</div>