@{
    ViewBag.Title = PlainText.Dictionary["SignUp"];
}

<div class="HalfScreen">
    @String.Format(
        PlainText.Dictionary["SignUpSuccess", "FollowEmailIntructions"], 
        EmailSender.Sender)
</div>