@model DFM.BusinessLogic.Response.ContractInfo.Clause

@Html.Raw(Model.Text)

@if (Model.Items.Any())
{
	<ol>
		@foreach (var clause in Model.Items)
		{
			<li class="@(clause.New ? "new-clause" : "")">
				@await Html.PartialAsync("Clause", clause)
			</li>
		}
	</ol>
}
