@model UsersRemoveTFAModel

@{
	Layout = "~/Views/Shared/Layouts/_Form.cshtml";
	ViewBag.Title = Context.Translate("TFARemove");
}

<div class="form-group">
	@Html.LabelFor(m => m.Password, Context.Translate("Password"))

	@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
	@Html.ValidationMessageFor(m => m.Password)
</div>

@section Footer {
	<button type="submit" class="btn btn-danger">
		@Context.Translate("Delete")
	</button>
}
