@{
    ViewBag.Title = MultiLanguage.Dictionary["TokenDisable"];
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}

<div class="half-screen">
    @MultiLanguage.Dictionary["TokenDisableSuccess"]
</div>