@{
    ViewBag.Title = MultiLanguage.Dictionary["TokenInvalid"];
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}

<div class="half-screen">
    @MultiLanguage.Dictionary["TokenInvalidMessage"]
</div>