@{
    ViewBag.Title = MultiLanguage.Dictionary["PasswordReset"];
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}

<div class="half-screen">
    @MultiLanguage.Dictionary["PasswordResetSuccess"]
</div>