@{
    ViewBag.Title = MultiLanguage.Dictionary["UserVerification"];
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}

<div class="half-screen">
    @MultiLanguage.Dictionary["UserVerificationSuccess"]
    <br /><br />
    @Html.ActionLink(MultiLanguage.Dictionary["Logon"], "LogOn", "User")
</div>