@{
	ViewBag.Title = MultiLanguage.Dictionary["PasswordReset"];
	Layout = "~/Views/Shared/_Result.cshtml";
	ViewBag.Style = "success";
}

<div class="well-sm">
	@MultiLanguage.Dictionary["PasswordResetSuccess"]
</div>

@Html.ActionLink(MultiLanguage.Dictionary["Logon"], "LogOn", "Users", null, new { @class = "btn btn-sm btn-link" })
