@{
	ViewBag.Title = Translator.Dictionary["UserVerification"];
	Layout = "~/Views/Shared/_Result.cshtml";
	ViewBag.Style = "success";
}

<div class="well-sm">
	@Translator.Dictionary["UserVerificationSuccess"]
</div>

@Html.ActionLink(Translator.Dictionary["Logon"], "LogOn", "Users", null, new { @class = "btn btn-sm btn-link" })
