@model BaseSiteModel

@{
	var colors = Model.Theme.Colors() ? "on" : "off";
}

<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#dfm-navigation">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			@if (ViewBag.HideTopLogo == null)
			{
				<a href="/" class="navbar-brand">
					<img src="~/Assets/images/pig-@(colors).svg"
					    alt="@Context.Translate("PinkPigAlt")"
					    title="@Context.Translate("PinkPigAlt")"
					    class="image-decolorize" />
					Don't fly Money
				</a>
			}
		</div>

		<div class="collapse navbar-collapse" id="dfm-navigation">
			@await Html.PartialAsync("Skeleton/Menus/Navigation")
		</div>
	</div>

	<div class="well well-lg top-right-highlight"></div>
</nav>
