@{
	var hasSummaryToShow =
		!Html.ViewData.ModelState.IsValid
		&& Html.ViewData.ModelState.ContainsKey("");

	var errorAlert = Context.GetErrorAlert();

	var hasSomethingToShow = hasSummaryToShow || errorAlert.Any();
}

@if (hasSomethingToShow)
{
	if (hasSummaryToShow)
	{
		<div class="alert alert-danger @ViewBag.FormErrorsClass">
			@Html.ValidationSummary(true, null, new {@class = "text-center"})
		</div>
	}

	foreach (var error in errorAlert.GetAndClean())
	{
		<div class="alert alert-info text-center">
			@error
		</div>
	}
}
