@model BaseSiteModel

@if (Model.ShowWizard && ViewBag.WizardMessage != null)
{
	<div class="panel panel-default">

		<div class="panel-heading">
			<h3 class="panel-title">@Context.Translate("Wizard_Title")</h3>
		</div>

		<div class="panel-body">

			<div class="row">
				<div class="col-lg-8 col-sm-12 col-lg-push-2 text-center">
					@Context.Translate($"Wizard_{ViewBag.WizardMessage}")
				</div>
			</div>
			
			@await Html.PartialAsync("Extensions/MicroForm",
				MicroForm.WithResource(Context, Context.Translate("Wizard_End"), "btn btn-sm btn-info pull-right")
					.AddRouteUrl<Default.Main>("Users", "EndWizard")
			)
		</div>

	</div>
}
