select, button, input {
	vertical-align: middle;
	padding: 2px;
}

input[type="text"], input[type="password"]
{
	width: 150px;
}

input[type="radio"]
{
	vertical-align: top;
}

select
{
	width: 156px;
	height: 26px;
}

button
{
	margin-top: 20px;
	border-radius: 2px 0 10px 0;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	padding: 1px 5px 2px 5px;
	cursor: pointer;
	border: none;
	color: #FFF;
	background: #558EAA;
}
	button:hover
	{
		background: #AA8E55;
	}


.input-ps
{
	font-size: 80%;
	color: #999;
	display: block;
}

input:disabled
{
	background: #F7F7F7;
	border: 1px #EEE solid;
}


.divRowForm
{
	clear: both;
	padding: 10px 0;
}

form hr
{
	background-color: #AA8E55;
	height: 1px;
	width: 95%;
	border: none;
}
