/*
Texts: #AA8E55
Alternative Background: #FFEEEE
Background: #558EAA
Light Background: #EEFFEE
Warning: #558EAA
*/

body {
	background: url("/assets/image/clouds.gif");
	text-align: justify;
	margin: 0;
}

* {
	font-family: Calibri;
	font-size: 15px;
}

img {
    vertical-align: middle;
}

h2 {
	color: #AA8E55;
	font-size: 20px;
	border-bottom: #AA8E55 2px solid;
	margin: 0 0 40px 0;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: #558EAA;
	white-space: nowrap;
	padding: 0 3px;
}

    a:hover {
	    color: #FFF;
	    background: #AA8E55;
    }

    img:hover {
	    background: #AA8E55;
    }

#ui-datepicker-div a
{
    padding: 0;
}



div#Head {
	margin: 0 auto;
	width: 950px;
}
    div#Head .logo
    {
        margin: 20px;
        display: inline-block;
    }
        div#Head .logo:hover
        {
            background: none;
        }
        
        div#Head .logo img:hover
        {
            background: none;
        }
            div#Head .logo img:first-child
            {
                margin-right: 10px;
            }
        


div#Main {
	min-height: 500px;
	width: 910px;
	padding: 20px;
	margin: 0 auto;
	background: #FFF;
	border-radius: 10px 0 50px 0;
    box-shadow: 0 4px 2px 2px rgba(0, 0, 0, 0.7);
}

div#PS {
	width: 890px;
	padding: 10px;
	color: #AA8E55;
	font-size: 80%;
	margin-top: 50px;
}

div#Footer {
	padding: 30px 0px;
	margin: 0 auto;
	color: #AA8E55;
	text-align: center;
	width: 950px;
}



div#Advertising 
{
    margin-top: 50px;
    text-align: left;
}

div#Advertising a
{
    margin: 20px;
}




