div.half-screen {
	width: 300px;
	margin: 0 auto;
	text-align: center;
}

	div.half-screen label {
		display: block;
	}

		div.half-screen .checkbox {
			text-align: left;
		}

			div.half-screen .checkbox input {
				float: right;
			}

			div.half-screen .checkbox label {
				display: inline;
			}

#Remember label, #top-right-div label, .half-screen .radio label {
	display: inline;
}