.menu
{
	white-space: nowrap;
}

    .menu li
    {
        background: #558EAA;
	    list-style: none;
	    float: left;
	    border-radius: 0 0 15px 15px;
	    vertical-align: top;
	    padding: 2px 10px 5px 10px;
        cursor: pointer;
    }
        .menu li:hover
        {
	        background: #AA8E55;
        }

        .menu li a
        {
	        color: #FFF;
        }
    
        .menu-topo li.icon
        {
            width: 15px;
        }
    
        .menu-topo li.logoff
        {
            background-image: url("/Assets/image/icons/logoff.gif");
            background-position: center 4px;
            background-repeat: no-repeat;
        }
    
            .menu-topo li.logoff:hover
            {
                background-image: url("/Assets/image/icons/logoff_active.gif");
            }
    
        .menu-topo li.home
        {
            background-image: url("/Assets/image/icons/home.gif");
            background-position: center 4px;
            background-repeat: no-repeat;
        }
    
            .menu-topo li.home:hover
            {
                background-image: url("/Assets/image/icons/home_active.gif");
            }

.menu-topo
{
	float: right;
	margin-top: 0;
}

    .menu-topo li
    {
	    margin-left: 10px; 
    }


h2
{
    clear: left;
}


