.menu
{
	white-space: nowrap;
}

    .menu li
    {
        background: #558EAA;
	    list-style: none;
	    float: left;
	    border-radius: 0 0 15px 15px;
	    vertical-align: top;
	    padding: 2px 10px 5px 10px;
    }
        .menu li:hover
        {
	        background: #AA8E55;
        }

        .menu li a
        {
	        color: #FFF;
        }


.menu-topo
{
	float: right;
	margin-top: 0;
}

    .menu-topo li
    {
	    margin-left: 10px; 
    }


h2
{
    clear: left;
}

.menu-baixo
{
    float: left;
    margin: -20px 0 0 -20px;
    padding: 0;
}

    .menu-baixo li
    {
	    margin: 0 10px 20px 0; 
    }
        .menu-baixo li:first-child
        {
	        border-radius: 10px 0 15px 15px;
        }
