.tableFooterButtonList {
	text-align: right;
	margin-top: 20px;
}

table.List {
	width: 95%;
	padding: 0;
	margin: auto;
}

    th, td {
	    padding: 0px 7px;
    }

    tr:nth-child(2n+1) td {
	    background: #F7EEDD;
    }

    th {
	    background: #DDCFAA;
	    color: #FFF;
	    margin: 0;
	    border-radius: 7px 7px 0 0;
    }



td.numeric {
	text-align: right;
}

td.in {
	color: #00C;
}

td.out {
	color: #C00;
}

td.image {
	text-align: center;
}

td.image img {
	padding: 4px;
    }

    td.image a:hover {
	    background: none;
    }


table.Mini {
	width: 40%;
}


.account_sign {
	width: 15px;
}