div#top-right-div:empty
{
    /*display: none; Doens't work fine on chrome */
    background: #FFF;
    box-shadow: none;
}

div#top-right-div {
	float: right;
	background: #EEFFEE;
	padding: 9px 7px 13px 13px;
	margin: -20px -20px 10px 10px;
	border-radius: 0px 0px 0px 50px;
	z-index: 1;
	box-shadow: inset 3px -3px 5px #AA3A3A;
	border-left: 10px solid #fff;
	border-bottom: 10px solid #fff;
}

div#top-right-div input {
	width: auto;
}
		
div#top-right-div div#Remember {
	float: left;
	padding-left: 15px;
}

div#top-right-div div.half-screen {
	width: auto;
	margin: 0 auto;
}

div#top-right-div p {
	margin: 0px;
}

div#top-right-div #ForgotPass {
	display: none;
}