div#top-right-div:empty
{
	/*display: none; Doens't work fine on chrome */
	background: #FFF;
	box-shadow: none;
}

div#top-right-div {
	float: right;
	padding: 15px 15px 13px 13px;
	margin: -20px -20px 10px 10px;
	z-index: 1;
}

div#top-right-div input {
	width: auto;
}
		
div#top-right-div div#Remember {
	float: left;
	padding-left: 15px;
}

div#top-right-div div.half-screen {
	width: auto;
	margin: 0 auto;
}

div#top-right-div p {
	margin: 0;
}