div.two-columns {
	text-align: center;
}

	div.two-columns > div {
		width: 300px;
		text-align: center;
		padding: 0 50px;
		display: inline-block;
		vertical-align: top;
	}

	div.two-columns label {
		display: block;
	}

		div.two-columns .checkbox {
			text-align: left;
		}

			div.two-columns .checkbox input {
				float: right;
			}

			div.two-columns .checkbox label {
				display: inline;
			}

