select, button, input {
    vertical-align: middle;
    padding: 2px;
}

input[type="text"], input[type="password"]
{
	width: 150px;
}

input[type="radio"]
{
    vertical-align: top;
}

select
{
	width: 156px;
	height: 24px;
}

button {
	margin-top: 20px;
	border-radius: 10px 0px;
	color: #FFF;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	padding: 1px 5px 2px 5px;
	cursor: pointer;
	border: none;

	background: -webkit-gradient(linear, left top, left bottom, from(#999), to(#333));
	background: -moz-linear-gradient(top,  #999,  #333);
}

.max {
	font-size: 80%;
	color: #999;
	display: block;
}