input[type="text"]
{
	width: 150px;
}

select
{
	width: 156px;
	height: 22px;
}

button {
	margin-top: 20px;
	border-radius: 10px 0px;
	color: #fff; 
	font-size: 12px;
	text-transform: uppercase;
	padding: 1px 5px 3px 5px;
	cursor: pointer;
	border: none;

	background: -webkit-gradient(linear, left top, left bottom, from(#999), to(#333));
	background: -moz-linear-gradient(top,  #999,  #333);
}