body {
	background: #CCC url("/assets/image/clouds.gif");
	text-align: justify;
	margin: 0;
}

* {
	font-family: Calibri;
	font-size: 15px;
}

img {
    vertical-align: middle;
}

div#Head, div#Menu, div#Main, div#PS, div#Footer {
	margin: 0 auto;
}

div#Head, div#Menu, div#Footer {
	width: 950px;
}

div#Main, div#PS {
	background: #FFF;
}

#Logo img { margin: 20px 3px; }
#Logo img:first-child { margin-left: 20px; }
#Logo img:last-child { margin-right: 20px; }

img#Out {
	margin: 10px;
	float: right;
}

div#Main {
	min-height: 500px;
	width: 910px;
	padding: 20px;
}

div#PS {
	width: 930px;
	padding: 10px;
	color: #990;
	font-size: 80%;
}

div#Footer {
	padding: 30px 0px;
	color: #660;
	text-align: center;
}

div#Belt {
    background: #AA7;
}



h2 {
	color: #550;
	font-size: 20px;
}

hr.underTitle {
    background-color: #770;
    border: none;
    height: 2px;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: #555;
	white-space: nowrap;
}


a:hover {
	color: #990;
}