body {
	background: #999;
	text-align: justify;
	margin: 8px 0 8px 0;
}

* {
	font-family: Calibri;
	font-size: 15px;
}

div#Head, div#Main, div#Footer, div#Menu {
	width: 950px;
	margin: 0 auto;
}

img#Logo {
	margin: 20px;
}

img#Out {
	margin: 10px;
	float: right;
}

div#Main {
	background: #FFF;
	min-height: 500px;
	width: 910px;
	padding: 20px;
}

div#Footer {
	padding-top: 20px;
	color: #FFF;
	text-align: center;
}

div#Belt {
    background: #BBB;
}



h2 {
	color: #050;
	font-size: 20px;
}

hr.underTitle {
    background-color: #070;
    border: none;
    height: 2px;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: #555;
	white-space: nowrap;
}


a:hover {
	color: #090;
}