div#Menu {
	height: 24px;
	position: relative;
	z-index: 2;
	padding: 0 50px;
}

div#Menu .highMenu, div#Menu .Fix {
    text-align: center;
	text-transform: uppercase;
	margin-top: -2px;
	margin-bottom: 0px;
}

div#Menu .highMenu, div#Menu .Fix, .reportsMenu li a {
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
}

.accountMenu
{
	float: left;
	margin: 0;
	padding: 0;
	border: none;
	top: 1px;
}

.fixMenu
{
	float: right;
}

div#Menu .highMenu
{
	margin-right: 5px;
	margin-left: 0;
}

div#Menu .Fix
{
	margin-right: 0;
	margin-left: 5px;
}


.reportsMenu
{
	display: none;
	position: relative;
	left: 0px;
}

.reportsMenu ul
{
	position: absolute;
	top: 5px;
	left: 5px;
	margin: 0;
	padding: 0;
}

.reportsMenu li
{
	padding: 3px 5px;
	list-style: none;
	font-size: 80%;
}

.reportsMenu li:nth-child(2n) { background: #888; }
.reportsMenu li:nth-child(2n):hover { background: #080; }
.reportsMenu li:nth-child(2n+1) { background: #AAA; }
.reportsMenu li:nth-child(2n+1):hover { background: #0A0; }

.reportsMenu li:first-child { 
	border-radius: 0 10px 0 0;
}

.reportsMenu li:last-child
{
	border-radius: 0 0 10px 10px;
	border-bottom: none;
}