/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    padding: 2px;
    margin: 3px 3px;
    color: #CC0;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 3px ridge;
    background-color: #FFD;
}

.validation-summary-errors
{
    font-weight: bold;
    padding: 0px;
    color: #BB5;
    margin: -15px 0 15px 0;
}

.validation-summary-valid
{
    display: none;
}

.validation-summary-errors ul
{
	margin: 7px;
	padding: 0px 20px;
	text-align: center;
	border-bottom: 3px double #995;
	border-top: 3px double #995;
}

.validation-summary-errors li
{
	list-style-type: none;
	padding: 2px 0;
}