/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    padding: 2px;
    margin: 3px 3px;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 3px ridge;
}

.validation-summary-errors
{
    font-weight: bold;
    padding: 0px;
}

.validation-summary-valid
{
    display: none;
}

.validation-summary-errors ul
{
	padding: 0px;
	margin: 7px;
}

.validation-summary-errors li
{
	list-style-type: none;
}


button
{
	font-weight: bold;
}

a
{
    white-space: nowrap;
}



td.numeric
{
	text-align: right;
}

td.in
{
	color: #00C;
}

td.out
{
	color: #C00;
}