div#Main {
	border-radius: 50px 0px;
}

div#TopRightDiv, div#TopRightDiv input, div#TopRightDiv button {
	font-size: 80%;
}

div#TopRightDiv div.MiniForm {
	text-align: right;
}

button.topRightMoreSpace {
	margin-left: 20px;
}