div#Main {
	border-radius: 50px 0px;
    box-shadow: 0 4px 2px 2px rgba(0, 0, 0, 0.7);
}

div#TopRightDiv, div#TopRightDiv input, div#TopRightDiv button {
	font-size: 80%;
}

div#TopRightDiv div.HalfScreen {
	text-align: right;
}

button.topRightMoreSpace {
	margin-left: 20px;
}

div#TopRightDiv button {
	margin-top: 0px;
}

hr.Text {
    background-color: #990;
    border: none;
    height: 1px;
    width: 25%;
}

div#PS {
	display: none;
}

div#TokenReceived {
    padding-top: 5px;
}

div#TokenReceived a {
    font-size: 85%;
}