div#TopRightDiv:empty 
{
    /* Doens't work fine on chrome */
    /*display: none;*/
    background: #FFF;
}

div#TopRightDiv {
	float: right;
	background: #EED;
	padding: 10px 7px 10px 10px;
	margin: -20px -20px 10px 10px;
	border-radius: 0px 0px 0px 50px;
	z-index: 1;
}

div#TopRightDiv input {
	width: auto;
}
		
div#TopRightDiv div#Remember {
	float: left;
	padding-left: 15px;
}

div#TopRightDiv div.MiniForm {
	width: auto;
	margin: 0 auto;
}

div#TopRightDiv p {
	margin: 0px;
}

div#TopRightDiv #ForgotPass {
	display: none;
}