div#TopRightDiv:empty {
    display: none;
}

div#TopRightDiv {
	float: right;
	background: #DFD;
	padding: 10px 10px 10px 10px;
	margin: -20px -20px 10px 10px;
	border-radius: 0px 0px 0px 50px;
	z-index: 1;
}
		
div#TopRightDiv input {
	width: auto;
}
		
div#TopRightDiv div#Remember {
	float: left;
	padding-left: 15px;
}

div#TopRightDiv div.MiniForm {
	width: auto;
	margin: 0 auto;
}

div#TopRightDiv button {
	margin-top: 0px;
}

div#TopRightDiv p {
	margin: 0px;
}