@model BaseSiteModel

@{
	const String menuHL = " wl-other-color";
	var schedulesClass = ViewBag.SchedulesMenuClass + menuHL;
	var accountsClass = ViewBag.AccountsMenuClass + menuHL;
	var categoriesClass = ViewBag.CategoriesMenuClass + menuHL;
	var loginsClass = ViewBag.LoginsMenuClass + menuHL;
}

<li>
	@Html.ActionLink(
		Context.Translate("Accounts"),
		"Index", "Accounts",
		null, new { @class = accountsClass }
	)
</li>

@if (Model.IsUsingCategories)
{
	<li>
		@Html.ActionLink(
			Context.Translate("Categories"),
			"Index", "Categories",
			null, new { @class = categoriesClass }
		)
	</li>
}

<li>
	@Html.ActionLink(
		Context.Translate("Schedules"),
		"Index", "Schedules",
		null, new { @class = schedulesClass }
	)
</li>

<li>
	@Html.ActionLink(
		Context.Translate("Logins"),
		"Index", "Logins",
		null, new { @class = loginsClass }
	)
</li>
