@model BaseSiteModel

@{
	const String menuHL = " wl-other-color";
	var schedulesClass = ViewBag.SchedulesMenuClass + menuHL;
}

<li>
	@Html.ActionLink(
		Context.Translate("Accounts"),
		"Index", "Accounts"
	)
</li>

@if (Model.IsUsingCategories)
{
	<li>
		@Html.ActionLink(
			Context.Translate("Categories"),
			"Index", "Categories"
		)
	</li>
}

<li>
	@Html.ActionLink(
		Context.Translate("Schedules"),
		"Index", "Schedules",
		null, new { @class = schedulesClass }
	)
</li>

<li>
	@Html.ActionLink(
		Context.Translate("Logins"),
		"Index", "Logins"
	)
</li>
