<li>@Html.ActionLink(Context.Translate("Login"), "LogOn", "Users")</li>
<li>@Html.ActionLink(Context.Translate("SignUp"), "SignUp", "Users")</li>
<li>@Html.ActionLink(Context.Translate("TokenReceivedByEmail"), "Index", "Tokens")</li>
<li>@Html.ActionLink(Context.Translate("WipedData"), "SendWipedData", "Users")</li>
