@model BaseSiteModel

@{
	const String menuHL = " wl-other-color";

	var logoutClass = ViewBag.LogoutClass;
	if (logoutClass != null) logoutClass += menuHL;

	var searchClass = ViewBag.SearchMenuClass;
	if (searchClass != null) searchClass += menuHL;
}

@if (Model.IsExternal)
{
	@await Html.PartialAsync("Skeleton/Menus/ExternalArea")
}
else if (Model is BaseAccountModel)
{
	@await Html.PartialAsync("Skeleton/Menus/AccountArea")
}
else
{
	@await Html.PartialAsync("Skeleton/Menus/DefaultArea")
}

<li class="@searchClass">
	<a role='button' data-toggle='modal' data-target='#search-modal'>
		<span class="glyphicon glyphicon-search"
		      title="@Context.Translate("Search_Title")">
		</span>
	</a>
</li>

@await Html.PartialAsync("Skeleton/Menus/Settings")

<li class="@logoutClass">
	@await Html.PartialAsync(
		"Extensions/MicroForm",
		MicroForm.WithGlyph(Context, "off", "Logoff")
			.AddRouteUrl<Default.Main>("Users", "LogOff")
	)
</li>
