# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "nuget"
    directory: "/core/"
    target-branch: "13.0.0.0"
    schedule:
      interval: "weekly"
    rebase-strategy: "disabled"
    labels:
      - internal
      - dependencies
    commit-message:
      prefix: "tools: update internal\n\n"

  - package-ecosystem: "nuget"
    directory: "/site/"
    target-branch: "13.0.0.0"
    schedule:
      interval: "weekly"
    rebase-strategy: "disabled"
    labels:
      - site
      - dependencies
    commit-message:
      prefix: "tools: update site\n\n"

  - package-ecosystem: "nuget"
    directory: "/api/"
    target-branch: "13.0.0.0"
    schedule:
      interval: "weekly"
    rebase-strategy: "disabled"
    labels:
      - api
      - dependencies
    commit-message:
      prefix: "tools: update api\n\n"

  - package-ecosystem: "nuget"
    directory: "/robot/"
    target-branch: "13.0.0.0"
    schedule:
      interval: "weekly"
    rebase-strategy: "disabled"
    labels:
      - robot
      - dependencies
    commit-message:
      prefix: "tools: update robot\n\n"

  - package-ecosystem: "npm"
    directory: "/site/Tests/Browser/"
    target-branch: "13.0.0.0"
    schedule:
      interval: "weekly"
    rebase-strategy: "disabled"
    labels:
      - tests
      - dependencies
    commit-message:
      prefix: "tools: update tests\n\n"

  - package-ecosystem: "gradle"
    directory: "/android/"
    target-branch: "13.0.0.0"
    schedule:
      interval: "weekly"
    rebase-strategy: "disabled"
    labels:
      - mobile
      - dependencies
    commit-message:
      prefix: "tools: update mobile\n\n"

  - package-ecosystem: "docker"
    directory: "/architecture/ci/"
    target-branch: "13.0.0.0"
    schedule:
      interval: "weekly"
    rebase-strategy: "disabled"
    labels:
      - tests
      - dependencies
    commit-message:
      prefix: "tools: update tests\n\n"

  - package-ecosystem: "docker"
    directory: "/architecture/publish/"
    target-branch: "13.0.0.0"
    schedule:
      interval: "weekly"
    rebase-strategy: "disabled"
    labels:
      - internal
      - dependencies
    commit-message:
      prefix: "tools: update internal\n\n"

  - package-ecosystem: "cargo"
    directory: "/version/"
    target-branch: "13.0.0.0"
    schedule:
      interval: "weekly"
    rebase-strategy: "disabled"
    labels:
      - version
      - dependencies
    commit-message:
      prefix: "tools: update version\n\n"

  - package-ecosystem: "pip"
    directory: "/midna/"
    target-branch: "13.0.0.0"
    schedule:
      interval: "weekly"
    rebase-strategy: "disabled"
    labels:
      - midna
      - dependencies
    commit-message:
      prefix: "tools: update midna\n\n"
