@model SettingsTFAModel
@{
	ViewBag.Title = Context.Translate("TFASettings");
	Layout = "~/Views/Shared/Layouts/_Form.cshtml";

	ViewBag.FormSizeSm = 8;
	ViewBag.FormSizeLg = 6;

	Model.HL = new WizardHL(Model.IsActive)
		.AddBox("Why", null, 2)
		.AddBox("Disable", 2, null)
		.AddBox("UseAsPassword", 3, null)
		.AddBox("Form", 4, null)
		.AddBox("DoNotHave", 5, null)
		.AddBox("Settings", 6, 3)
		.AddBox("SettingsTheme", 6, 3)
		;

	if (Model.IsActive)
	{
		ViewBag.WizardPlus = "Configured";
	}

	ViewBag.SettingsMenuClass = Model.HL["Settings"];
	ViewBag.SettingsThemeMenuClass = Model.HL["SettingsTheme"];
}

@section Styles {
	<link rel="stylesheet" type="text/css" href="~/Assets/styles/qrcode.css?v=@Cfg.Version" />
}

@section Scripts {
	<script type="text/javascript" src="~/Assets/libs/jquery/jquery.qrcode.min.js?v=@Cfg.Version"></script>
	<script type="text/javascript" src="~/Assets/scripts/qrcode.js?v=@Cfg.Version"></script>
	<script type="text/javascript" src="~/Assets/scripts/tfa.js?v=@Cfg.Version"></script>
}

@if (Model.IsActive)
{
	@await Html.PartialAsync("TFAManage")
}
else
{
	@await Html.PartialAsync("TFAActivate")
}

@section Footer {
	@if (Model.IsActive)
	{
		@Html.ActionLink(
			Context.Translate("LostTFA"),
			"AskRemoveTFA", "Users", null,
			new { @class = "btn btn-sm btn-info pull-left " + Model.HL["DoNotHave"] }
		)
	}

	<button type="submit"
			class="btn btn-sm btn-@(Model.IsActive ? "warning" : "success") tab-submit">
		@Context.Translate("Submit")
	</button>
}
