@model DFM.MVC.Areas.Accounts.Models.CategoryCreateModel

@{ Layout = null; }


@using (Ajax.BeginForm("Create", "Category", new AjaxOptionsDFM { OnSuccess = "InsertCategoryOnDropDown" })) { 

    <p>
        @Html.LabelFor(m => m.Category.Name, PlainText.Dictionary["Category"])<br />
        @Html.TextBoxFor(m => m.Category.Name)
    </p>
    
    <p>
        <button type="submit">@PlainText.Dictionary["Create"]!</button>
    </p>
}