@model DFM.MVC.Models.CategoryCreateEditModel

@{
    if (Model.IsMoveCRUD) { Model.ActionName = "Create"; }
    
    ViewBag.Title = PlainText.Dictionary[Model.ActionName, "Category"];
    Layout = Model.IsMoveCRUD ? null : "~/Views/Shared/Inner/_Layout.cshtml";
}

<div class="MiniForm CRUDCategory">
    @using (
            Model.IsMoveCRUD
                ? Ajax.BeginForm("CreateAjax", "Category", new AjaxOptionsDFM { OnSuccess = "InsertCategoryOnDropDown" })
                : Html.BeginForm()
        )
    {

        <p>
            @Html.LabelFor(m => m.Category.Name, PlainText.Dictionary["Category"])
            @Html.TextBoxFor(m => m.Category.Name)
        </p>
    
        <button type="submit">@PlainText.Dictionary[Model.ActionName]!</button>

        @Html.HiddenFor(m => m.Category.Active)
    }
</div>