*.gitignore
*.DotSettings

core/.editorconfig

core/.vs
core/**/bin
core/**/obj
core/packages
core/**/log
core/**/*.user
core/Tests
core/respell

site/.vs
site/**/bin
site/**/obj
site/packages
site/**/log
site/**/*.user
site/Tests

robot/.vs
robot/**/bin
robot/**/obj
robot/packages
robot/**/log
robot/**/*.user
robot/Tests

site/MVC/Assets/libs
site/MVC/data
site/MVC/Properties/PublishProfiles

*/*/appSettings.Development.json
*/*/db.*.json
*/*/smtp.*.json
*/*/login.*.json
*/*/storage.*.json
*/*/queue.*.json
*/*/log.*.json

midna/.env
midna/gunicorn/log
midna/gunicorn/run
midna/src/db.sqlite3
midna/src/.pytest_cache
midna/**/__pycache__

db/db.env
db/data
db/docker-compose.yml
db/init.sql
db/Makefile
db/*.future
db/**/__pycache__
