*.gitignore

site/.vs
site/*/bin
site/*/obj
site/packages
site/*/log
site/*/*.user

site/.editorconfig
site/ImportModels
site/FileExchange
site/Tests

site/MVC/Assets/libs
site/MVC/data
site/MVC/Properties/PublishProfiles
site/MVC/appsettings.Development.json
site/MVC/db.*.json
site/MVC/smtp.*.json
