*.gitignore
*.DotSettings

core/.editorconfig

core/.vs
core/**/bin
core/**/obj
core/packages
core/**/log
core/**/*.user
core/Tests
core/respell

site/.vs
site/**/bin
site/**/obj
site/packages
site/**/log
site/**/*.user
site/Tests

robot/.vs
robot/**/bin
robot/**/obj
robot/packages
robot/**/log
robot/**/*.user
robot/Tests

site/MVC/Assets/libs
site/MVC/data
site/MVC/Properties/PublishProfiles
site/MVC/appSettings.Development.json
site/MVC/db.*.json
site/MVC/smtp.*.json
site/MVC/login.*.json
site/MVC/s3.*.json

robot/Robot/appSettings.Development.json
robot/Robot/db.*.json
robot/Robot/smtp.*.json
robot/Robot/login.*.json
robot/Robot/s3.*.json

midna/.env
midna/gunicorn/log
midna/gunicorn/run
midna/src/db.sqlite3
midna/src/.pytest_cache
midna/**/__pycache__

db/db.env
db/data
db/docker-compose.yml
db/init.sql
db/Makefile
db/*.future
db/**/__pycache__
