*.orig
.hg*

pseudo-debug.txt

# Site (.NET)
site/*ReSharper*
site/*/bin
site/*/obj
site/*.suo
site/**.user
site/*dotCover
site/MVC/data/log_files
site/MVC/Web.Release.config
site/packages/*
site/Library/DK/*.pdb
site/MVC/MVC.Publish.xml
site/MVC/Properties/PublishProfiles
site/AssetPackages/*
!site/AssetPackages/AssetPackages.csproj
!site/AssetPackages/packages.config
!site/AssetPackages/copy-to-mvc.bat
site/TestResults/*
*/.vs/*
*.user
smtp.config
site/MVC/Assets/Libs/*/*.js
site/MVC/Assets/Libs/Fonts/*
site/Tests/log

# Android (Kotlin)
android/*/*.apk
android/*/*.dex
android/*/*.ap_
android/res/values/license.xml
android/.gradle
android/local.properties
android/.idea
android/.DS_Store
android/*/build
android/build
android/**.iml
android/gradlew
android/gradlew.bat
*.iml
android/DFM/src/main/res/values/localaddress.xml
android/DFM/release

site/Tests/log

*.feature.cs
