syntax: glob
*ReSharper*
site/*/bin
obj
*.suo
*.user
*dotCover
site/DFM.MVC/data/log_files
*.orig
jagregory-fluent-nhibernate-release-1.3-47-g21cb167
android/.metadata/.plugins/org.eclipse.cdt.core/.log
*.class
*.apk
*.dex
*.ap_
*.suo

pseudo-debug.txt
syntax: regexp
^(.*[\\/])?gen[\\/].*
^(.*[\\/])?bin[\\/].*
^(.*[\\/])?obj[\\/].*
^(.*[\\/])?log[\\/].*
^(.*[\\/])?obf[\\/].*
^(.*[\\/])?jars[\\/].*
^(.*[\\/])?jar-sources[\\/].*
^(.*[\\/])?javadoc[\\/].*
^(.*[\\/])?\.metadata[\\/].*
^(.*[\\/])?\.settings[\\/].*
.hg*
site/DFM.MVC/DFM.MVC.Publish.xml
site/DFM.MVC/Web.Release.config
android/.metadata
android/*/bin
