syntax: glob
*.orig
pseudo-debug.txt
site/*ReSharper*
site/*/bin
site/*/obj
site/*.suo
site/**.user
site/*dotCover
site/DFM.MVC/data/log_files
site/DFM.MVC/Web.Release.config
android/**.class
android/**.apk
android/**.dex
android/**.ap_
android/.metadata/.plugins/org.eclipse.cdt.core/.log
android/res/values/license.xml
android/.gradle
android/local.properties
android/.idea
android/.DS_Store
android/*/build
android/build
android/**.iml
android/gradlew
android/gradlew.bat

*/.vs/*
site/packages/*
site/Library/DK/*.pdb
syntax: regexp
^(.*[\\/])?gen[\\/].*
^(.*[\\/])?bin[\\/].*
^(.*[\\/])?obj[\\/].*
^(.*[\\/])?log[\\/].*
^(.*[\\/])?obf[\\/].*
^(.*[\\/])?jars[\\/].*
^(.*[\\/])?jar-sources[\\/].*
^(.*[\\/])?javadoc[\\/].*
^(.*[\\/])?\.metadata[\\/].*
^(.*[\\/])?\.settings[\\/].*

site/Library/DK/*.pdb
.hg*
site/DFM.MVC/DFM.MVC.Publish.xml
site/DFM.MVC/Properties/PublishProfiles/Arvixe.pubxml
site/DFM.MVC/Properties/PublishProfiles/Amazon.pubxml

*.user
*.iml

smtp.config

android/DFM/src/main/res/values/license.xml
