<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

    <add key="DBMS" value="MySQL"/>

    <add key="Server" value="localhost" />
    <add key="DataBase" value="test-db" />
    <add key="Login" value="test-user" />
    <add key="Password" value="test-password" />
    <add key="ShowSQL" value="true" />
    <add key="DBAction" value="Recreate" />
    <add key="ScriptFileFullName" value="NH_DB.txt" />

    <add key="EmailSender" value="DontSend"/>
  </appSettings>

  <system.data>
    <DbProviderFactories>
      <clear/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.1.2.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>

</configuration>