*ReSharper*
bin
obj
*.suo
**.user
*dotCover
.vs
*.user
packages

AssetPackages/*
!AssetPackages/AssetPackages.csproj
!AssetPackages/packages.config
!AssetPackages/copy-to-mvc.bat

TestResults/*
Tests/Core/log
*.feature.cs

