version: 2.1

# Do not change file .circleci/config.yml
# the folder .circleci/pieces has the parts of the script
# go to .git > hooks and create a file called pre-commit
# with this content (without first '#' sign)

# #!/bin/sh
# ./.circleci/assembly.sh


jobs:
  test_ci:
    docker:
      - image: darakeon/ubuntu
    resource_class: small
    steps:
      - checkout
      - run:
          name: copy_old
          path: .circleci
          command: cp config.yml config_old.yml
      - run:
          name: assembly
          command: ./.circleci/assembly.sh check
      - run:
          name: compare
          path: .circleci
          command: if [[ $(diff config.yml config_old.yml) != '' ]]; then echo 'outdated ci config'; exit 1; fi

  test_core:
    docker:
      - image: darakeon/netcore
    steps:
      - checkout
      - restore_cache:
          keys:
            - >
                dotnet
                -{{ checksum "core/Authentication/Authentication.csproj" }}
                -{{ checksum "core/BusinessLogic/BusinessLogic.csproj" }}
                -{{ checksum "core/Email/Email.csproj" }}
                -{{ checksum "core/Entities/Entities.csproj" }}
                -{{ checksum "core/Generic/Generic.csproj" }}
                -{{ checksum "core/Language/Language.csproj" }}
                -{{ checksum "core/Exchange/Exchange.csproj" }}
                -{{ checksum "core/Tests/BusinessLogic/BusinessLogic.Tests.csproj" }}
                -{{ checksum "core/Tests/Email/Email.Tests.csproj" }}
                -{{ checksum "core/Tests/Language/Language.Tests.csproj" }}
                -{{ checksum "core/Tests/Exchange/Exchange.Tests.csproj" }}
                -{{ checksum "core/Tests/Generic/Generic.Tests.csproj" }}
      - run:
          name: dependencies
          command: dotnet restore core/Core.sln
      - save_cache:
          key: >
            dotnet
            -{{ checksum "core/Authentication/Authentication.csproj" }}
            -{{ checksum "core/BusinessLogic/BusinessLogic.csproj" }}
            -{{ checksum "core/Email/Email.csproj" }}
            -{{ checksum "core/Entities/Entities.csproj" }}
            -{{ checksum "core/Generic/Generic.csproj" }}
            -{{ checksum "core/Language/Language.csproj" }}
            -{{ checksum "core/Exchange/Exchange.csproj" }}
            -{{ checksum "core/Tests/BusinessLogic/BusinessLogic.Tests.csproj" }}
            -{{ checksum "core/Tests/Email/Email.Tests.csproj" }}
            -{{ checksum "core/Tests/Language/Language.Tests.csproj" }}
            -{{ checksum "core/Tests/Exchange/Exchange.Tests.csproj" }}
            -{{ checksum "core/Tests/Generic/Generic.Tests.csproj" }}
          paths:
            - ~/.nuget/packages
      - run:
          name: build
          command: dotnet build -c Debug core/Core.sln --no-restore
      - run:
          path: core/Tests/Generic
          name: tests_generic
          command: dotnet test -v m --no-build
      - run:
          path: core/Tests/Language
          name: tests_language
          command: dotnet test -v m --no-build
      - run:
          path: core/Tests/Email
          name: tests_email
          command: dotnet test -v m --no-build
      - run:
          path: core/Tests/Exchange
          name: tests_exchange
          command: dotnet test -v m --no-build
      - run:
          path: core/Tests/BusinessLogic
          name: tests_business_logic
          command: dotnet test -v m --no-build
      - run:
          path: inbox
          name: zip_mails
          command: zip inbox.zip *.eml && rm *.eml
      - store_artifacts:
          path: inbox
      - store_artifacts:
          path: core/Tests/log
          destination: log

  test_site:
    docker:
      - image: darakeon/netcore
    steps:
      - checkout
      - restore_cache:
          keys:
            - dotnet-{{ checksum "core/Authentication/Authentication.csproj" }}-{{ checksum "core/BusinessLogic/BusinessLogic.csproj" }}-{{ checksum "core/Email/Email.csproj" }}-{{ checksum "core/Entities/Entities.csproj" }}-{{ checksum "core/Generic/Generic.csproj" }}-{{ checksum "core/Language/Language.csproj" }}-{{ checksum "site/MVC/MVC.csproj" }}-{{ checksum "site/Tests/MVC/MVC.Tests.csproj" }}
      - run:
          name: dependencies
          command: dotnet restore site/Site.sln
      - save_cache:
          key: dotnet-{{ checksum "core/Authentication/Authentication.csproj" }}-{{ checksum "core/BusinessLogic/BusinessLogic.csproj" }}-{{ checksum "core/Email/Email.csproj" }}-{{ checksum "core/Entities/Entities.csproj" }}-{{ checksum "core/Generic/Generic.csproj" }}-{{ checksum "core/Language/Language.csproj" }}-{{ checksum "site/MVC/MVC.csproj" }}-{{ checksum "site/Tests/MVC/MVC.Tests.csproj" }}
          paths:
            - ~/.nuget/packages
      - run:
          name: build
          command: dotnet build -c Debug site/Site.sln --no-restore
      - run:
          path: site/Tests/MVC
          name: tests_mvc
          command: dotnet test -v m --no-build
      - store_artifacts:
          path: inbox
      - store_artifacts:
          path: site/Tests/log
          destination: log

  test_browser:
    docker:
      - image: darakeon/dfm-browser-tests
    steps:
      - checkout
      - restore_cache:
          keys:
            - dotnet-{{ checksum "core/Authentication/Authentication.csproj" }}-{{ checksum "core/BusinessLogic/BusinessLogic.csproj" }}-{{ checksum "core/Email/Email.csproj" }}-{{ checksum "core/Entities/Entities.csproj" }}-{{ checksum "core/Generic/Generic.csproj" }}-{{ checksum "core/Language/Language.csproj" }}-{{ checksum "site/MVC/MVC.csproj" }}-{{ checksum "site/Tests/MVC/MVC.Tests.csproj" }}
      - run:
          name: dependencies_dotnet
          command: dotnet restore site/Site.sln
      - save_cache:
          key: dotnet-{{ checksum "core/Authentication/Authentication.csproj" }}-{{ checksum "core/BusinessLogic/BusinessLogic.csproj" }}-{{ checksum "core/Email/Email.csproj" }}-{{ checksum "core/Entities/Entities.csproj" }}-{{ checksum "core/Generic/Generic.csproj" }}-{{ checksum "core/Language/Language.csproj" }}-{{ checksum "site/MVC/MVC.csproj" }}-{{ checksum "site/Tests/MVC/MVC.Tests.csproj" }}
          paths:
            - ~/.nuget/packages
      - restore_cache:
          keys:
            - dotnet-libman-{{ checksum "site/MVC/libman.json" }}
      - run:
          name: dependencies_client
          path: site/MVC
          command: libman restore
      - save_cache:
          key: dotnet-libman-{{ checksum "site/MVC/libman.json" }}
          paths:
            - site/MVC/Assets/libs
      - run:
          name: publish_site
          path: site/MVC
          command: dotnet publish -c Release MVC.csproj -o ../Tests/Browser/server --no-restore
      - restore_cache:
          keys:
            - node-{{ checksum "site/Tests/Browser/package.json" }}
      - run:
          name: dependencies_node
          path: site/Tests/Browser
          command: npm install
      - save_cache:
          key: node-{{ checksum "site/Tests/Browser/package.json" }}
          paths:
            - site/Tests/Browser/node_modules
      - run:
          name: tests_browser
          command: .circleci/browser/run-tests.sh
      - store_artifacts:
          path: site/Tests/Browser/log
      - store_artifacts:
          path: inbox
      - store_artifacts:
          path: /root/.npm/_logs/
      - store_artifacts:
          path: /root/.npm/eresolve-report.txt

  test_android:
    docker:
      - image: darakeon/android
    steps:
      - checkout
      - restore_cache:
          keys:
            - jars-{{ checksum "ci/android.dockerfile" }}-{{ checksum "android/build.gradle" }}-{{ checksum "android/TestUtils/build.gradle" }}-{{ checksum "android/Lib/build.gradle" }}-{{ checksum "android/App/build.gradle" }}-{{ checksum "android/ErrorLogs/build.gradle" }}
      - run:
          name: project_dependencies
          path: android
          command: gradle androidDependencies
      - run:
          name: robolectric_dependencies
          path: android
          command: gradle robolectricSdkDownload
      - save_cache:
          key: jars-{{ checksum "ci/android.dockerfile" }}-{{ checksum "android/build.gradle" }}-{{ checksum "android/TestUtils/build.gradle" }}-{{ checksum "android/Lib/build.gradle" }}-{{ checksum "android/App/build.gradle" }}-{{ checksum "android/ErrorLogs/build.gradle" }}
          paths:
            - /var/cache/gradle
      - run:
          name: tests
          path: android
          command: gradle test -x androidDependencies
      - store_artifacts:
          path: android/TestUtils/build/reports
          destination: reports/testUtils
      - store_artifacts:
          path: android/Lib/build/reports
          destination: reports/lib
      - store_artifacts:
          path: android/App/build/reports
          destination: reports/app
      - store_artifacts:
          path: android/ErrorLogs/build/reports
          destination: reports/errorLogs
      - store_artifacts:
          path: android/Lib/log
          destination: log/lib
      - store_artifacts:
          path: android/App/log
          destination: log/app
      - store_test_results:
          path: android/Lib/build/test-results
      - store_test_results:
          path: android/App/build/test-results

  test_build_robot:
    docker:
      - image: darakeon/netcore
    resource_class: small
    environment:
      ASPNETCORE_ENVIRONMENT: circleCI
    steps:
      - checkout
      - restore_cache:
          keys:
            - dotnet-{{ checksum "core/Authentication/Authentication.csproj" }}-{{ checksum "core/BusinessLogic/BusinessLogic.csproj" }}-{{ checksum "core/Email/Email.csproj" }}-{{ checksum "core/Entities/Entities.csproj" }}-{{ checksum "core/Generic/Generic.csproj" }}-{{ checksum "core/Language/Language.csproj" }}-{{ checksum "robot/Robot/Robot.csproj" }}
      - run:
          name: dependencies
          command: dotnet restore robot/Robot.sln
      - save_cache:
          key: dotnet-{{ checksum "core/Authentication/Authentication.csproj" }}-{{ checksum "core/BusinessLogic/BusinessLogic.csproj" }}-{{ checksum "core/Email/Email.csproj" }}-{{ checksum "core/Entities/Entities.csproj" }}-{{ checksum "core/Generic/Generic.csproj" }}-{{ checksum "core/Language/Language.csproj" }}-{{ checksum "robot/Robot/Robot.csproj" }}
          paths:
            - ~/.nuget/packages
      - run:
          name: build
          path: robot/Robot
          command: dotnet publish -c Release Robot.csproj -o /var/robot --no-restore
      - run:
          name: build
          path: /var/robot
          command: ./DFM.Robot check
      - store_artifacts:
          path: inbox

  version_change:
    docker:
      - image: rust
    resource_class: small
    environment:
      RUST_BACKTRACE: 1
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - "15:78:d5:ca:e6:7d:80:e6:2d:1f:35:a1:f3:9d:1b:48"
      - restore_cache:
          keys:
            - rust-{{ checksum "version/Cargo.toml" }}
      - run:
          name: build
          path: version
          command: cargo build
      - save_cache:
          key: rust-{{ checksum "version/Cargo.toml" }}
          paths:
            - /usr/local/cargo/registry/
      - run:
          name: version change
          path: version
          command: |
            if [ "$VERSION" == "$CIRCLE_BRANCH" ] ; then

              if [ "$NEW_TASKS" == "0" ] ; then
                cargo run -q -- -e
              else
                cargo run -q -- -q $NEW_TASKS
              fi

              git log -2
              git push -u origin $CIRCLE_BRANCH

            else
              cargo run -q -- -c
            fi

workflows:
  version: 2.1
  build_all:
    jobs:
      - test_ci
      - test_core:
          requires:
            - test_ci
      - test_site:
          requires:
            - test_ci
            - test_core
      - test_browser:
          requires:
            - test_ci
            - test_core
            - test_site
      - test_android:
          requires:
            - test_ci
      - test_build_robot:
          requires:
            - test_ci
            - test_core
      - version_change:
          filters:
            branches:
              only: /^\d+\.\d+\.\d+\.\d+$/
          requires:
            - test_ci
            - test_core
            - test_site
            - test_browser
            - test_android
            - test_build_robot
