<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	android:installLocation="auto"
	>

	<uses-permission
		android:name="android.permission.FOREGROUND_SERVICE"
		android:protectionLevel="signature"
		/>

	<application
		android:allowBackup="false"
		android:networkSecurityConfig="@xml/network_security_config"
		android:icon="@drawable/error_logs_launcher_icon"
		android:label="@string/app_name"
		android:theme="@style/DarkMagic"
		android:supportsRtl="true"
		tools:targetApi="n"
		>
		<activity
			android:name=".StartActivity"
			android:label="@string/app_short_name"
			android:screenOrientation="portrait"
			android:exported="true"
			>
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".ListActivity"
			android:label="@string/site_address"
			android:screenOrientation="portrait"
			/>

		<service
			android:name=".service.SiteErrorService"
			android:description="@string/service_error_title"
			android:exported="false"
			android:icon="@drawable/notification"
			android:isolatedProcess="false"
			android:label="@string/service_error_title"
			android:process=":SiteError"
			/>
	</application>
</manifest>
