#body {
	margin-top: 75px;
}

a.navbar-brand {
	height: 100%;
	padding-left: 0;
}

	a.navbar-brand img {
		height: 1.5em;
		margin: -0.7em 0.3em -0.5em 0;
		display: inline;
	}

.logo {
	font-size: 36px;
	height: 71px;
	padding: 13px 0 17px 0;
	margin: 0 0 0 5px;
	text-shadow: none;
	line-height: inherit;
}

	.logo img {
		height: 2em;
		margin: -1em 0.2em -0.5em 0;
	}

.move-down {
	margin-top: 25px;
}

footer {
	margin-top: 30px;
	margin-bottom: 30px;
}

.validation-summary-errors ul {
	margin: 0;
	padding: 0;
}

	.validation-summary-errors ul li {
		list-style: none;
	}

.field-validation-error {
	display: block;
}

.glyphicon-plus {
	margin-left: 1px;
	margin-right: -1px;
}

.side-vertical-button {
	margin-top: 10px;
}

.btn-clear {
	background: transparent;
	padding: 0;
	margin: 0;
	border: none;
}

input[type="date"] {
	line-height: 1.25 !important;
}

.modal-backdrop {
	opacity: 0.75;
}

.header {
	margin-left: 5px;
}

	.header em {
		float: right;
		margin-right: 10px;
		font-size: 75%;
	}

#search-modal .modal-body {
	margin-bottom: 40px;
}

	#search-modal .modal-body button {
		float: right;
	}

.top-right-highlight {
	position: absolute;
	right: 0;
	margin: 5px;
}

	.top-right-highlight:empty {
		display: none;
	}

.clock a {
	font-size: 70%;
	text-align: center;
	line-height: 1em !important;
	cursor: default;
}

dt {
	margin-top: 1.5em;
}

dd {
	font-style: italic;
}

.panel-heading h1 {
	font-size: 1.5em;
}
