.blink-invert {
	animation: blink-invert 3000ms ease-out;
}

@keyframes blink-invert {
	0% {
		filter: invert(0%);
	}

	15% {
		filter: invert(100%);
	}

	30% {
		filter: invert(0%);
	}

	45% {
		filter: invert(100%);
	}

	60% {
		filter: invert(0%);
	}

	75% {
		filter: invert(100%);
	}

	90% {
		filter: invert(0%);
	}
}

.tip {
	position: fixed;
	bottom: 0;
	left: 0;
	opacity: 0.9;
}
	.tip * {
		position: relative;
	}

	.tip img {
		width: 150px;
		bottom: -40px;
		left: -30px;
		margin-right: -30px;
		z-index: 2;
	}

		.tip.hidden-tip img {
			bottom: -100px;
			left: -100px;
		}

	.tip .balloon {
		background: var(--primary-0);
		color: var(--neutral-0);
		border: 3px dotted var(--neutral-3);
		width: 300px;
		display: inline-block;
		padding: 15px 20px;
		border-radius: 50px / 40px;
		border-bottom-left-radius: 0;
		bottom: 30px;
		left: -50px;
		text-align: justify;
		z-index: 1;
	}

		.tip .balloon a {
			color: var(--neutral-0);
		}

		.tip .balloon button.tip-close {
			color: var(--neutral-0);
			background: none;
			border: none;
			bottom: 4px;
			right: 28px;
			position: absolute;
		}

		.tip.hidden-tip .balloon {
			display: none;
		}

	.tip.hiding-tip {
		opacity: 0.5;
	}
