.interactive {
	border-right: .15em solid var(--sober-primary-0); /* The typwriter cursor */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	animation: blink-caret 1s step-end infinite;
	display: inline-block;
}

/* The typewriter cursor effect */
@keyframes blink-caret {
	from, to {
		border-color: transparent
	}

	50% {
		border-color: var(--sober-primary-0);
	}
}

.wizard-box {
	position: fixed;
	z-index: 20;
}

.move-down {
	margin-top: 125px;
}

@media (min-width:768px) {
	.wizard-box {
		width: 750px
	}
}

@media (min-width:992px) {
	.wizard-box {
		width: 970px
	}
}

@media (min-width:1200px) {
	.wizard-box {
		width: 1170px
	}
}
