.interactive {
	border-right: .15em solid var(--sober-primary-0); /* The typwriter cursor */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	animation: blink-caret 1s step-end infinite;
	display: inline-block;
}

/* The typewriter cursor effect */
@keyframes blink-caret {
	from, to {
		border-color: transparent
	}

	50% {
		border-color: var(--sober-primary-0);
	}
}

.wizard-box {
	position: fixed;
	z-index: 20;
}

.below-wizard-box {
	height: 100px;
}

@media (min-width:768px) {
	.wizard-box {
		width: 720px
	}
}

@media (min-width:992px) {
	.wizard-box {
		width: 940px
	}
}

@media (min-width:1200px) {
	.wizard-box {
		width: 1140px
	}
}

#wh {
	display: none;
}

.wh {
	position: absolute;
	border-color: var(--highlight-0);
	border-width: 10px;
	padding: 10px;
	border-style: solid;
	display: block;
	pointer-events: none;
	top: -20px;
	box-sizing: content-box;
	opacity: 0.75;
	animation-name: mark;
}

@keyframes mark {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.75;
	}
}
