*/*.apk
*/*.dex
*/*.ap_
*.iml
**.iml

.gradle
.idea

local.properties
.DS_Store

*/build
build
*/log

res/values/license.xml
release
*/release

*/*/debug/res/values/*
*/*/debug/res/xml/network_security_config.xml

java_*.hprof
