*/*.apk
*/*.dex
*/*.ap_
*.iml
**.iml

.gradle
.idea

local.properties
.DS_Store

*/build
build
DFM/log

res/values/license.xml
DFM/release

DFM/src/debug/res/values/local-address.xml
DFM/src/debug/res/xml/network_security_config.xml
