  audit_site:
    docker:
      - image: darakeon/netcore
    steps:
      - checkout
      - attach_workspace:
          at: core
      - attach_workspace:
          at: site
      - restore_cache:
          keys:
            - dotnet-{{ checksum "site/cache_key" }}
      - run:
          path: site
          name: check vulnerability
          command: |
            RESULT=$(dotnet list package --vulnerable --include-transitive | grep 'has no vulnerable')

            echo "$RESULT"

            NUMBER_OF_PROJECTS=$(cat Site.sln | grep .csproj | wc -l)
            CURRENT=$(echo "$RESULT" | wc -l)

            if [ $CURRENT != $NUMBER_OF_PROJECTS ]; then
                exit 1
            fi

