  all:
    jobs:
      - trufflehog:
          filters:
            branches:
              only:
                - main
                - /^\d+\.\d+\.\d+\.\d+$/
      - test_ci:
          requires:
            - trufflehog
      - push_docker_browser:
          requires:
            - test_ci
      - push_docker_android:
          requires:
            - test_ci
      - push_docker_sql_runner_ci:
          requires:
            - test_ci
      - build_core:
          requires:
            - test_ci
      - audit_core:
          requires:
            - build_core
      - test_core_generic:
          requires:
            - build_core
      - test_core_language:
          requires:
            - build_core
      - test_core_email:
          requires:
            - build_core
      - test_core_exchange:
          requires:
            - build_core
      - test_core_entities:
          requires:
            - build_core
      - test_core_business_logic_auth:
          requires:
            - build_core
      - test_core_business_logic_law:
          requires:
            - build_core
      - test_core_business_logic_admin:
          requires:
            - build_core
      - test_core_business_logic_clip:
          requires:
            - build_core
      - test_core_business_logic_money:
          requires:
            - build_core
      - test_core_business_logic_report:
          requires:
            - build_core
      - test_core_business_logic_robot:
          requires:
            - build_core
      - test_core_business_logic_outside:
          requires:
            - build_core
      - build_site:
          requires:
            - build_core
      - audit_site:
          requires:
            - build_site
      - test_site:
          requires:
            - build_site
      - audit_test_browser:
          requires:
            - test_ci
            - push_docker_browser
      - test_browser:
          requires:
            - audit_test_browser
            - build_site
            - push_docker_browser
      - build_api:
          requires:
            - build_core
      - audit_api:
          requires:
            - build_api
      - test_api:
          requires:
            - build_api
      - build_android:
          requires:
            - test_ci
            - push_docker_android
      - audit_android:
          requires:
            - build_android
      - test_android_lib_debug:
          requires:
            - build_android
      - test_android_lib_release:
          requires:
            - build_android
      - test_android_app_debug:
          requires:
            - build_android
      - test_android_app_release:
          requires:
            - build_android
      - build_robot:
          requires:
            - build_core
      - audit_robot:
          requires:
            - build_robot
      - check_robot:
          requires:
            - build_robot
      - build_midna:
          requires:
            - test_ci
      - audit_midna:
          requires:
            - build_midna
      - test_midna:
          requires:
            - build_midna
      - test_sql_scripts:
          requires:
            - test_ci
            - push_docker_sql_runner_ci
      - audit_version_changer:
          requires:
            - test_ci
      - change_version:
          requires:
            - trufflehog
            - test_ci
            - push_docker_browser
            - push_docker_android
            - push_docker_sql_runner_ci
            - build_core
            - audit_core
            - test_core_generic
            - test_core_language
            - test_core_email
            - test_core_exchange
            - test_core_entities
            - test_core_business_logic_auth
            - test_core_business_logic_law
            - test_core_business_logic_admin
            - test_core_business_logic_clip
            - test_core_business_logic_money
            - test_core_business_logic_report
            - test_core_business_logic_robot
            - test_core_business_logic_outside
            - build_site
            - audit_site
            - test_site
            - audit_test_browser
            - test_browser
            - build_android
            - audit_android
            - test_android_lib_debug
            - test_android_lib_release
            - test_android_app_debug
            - test_android_app_release
            - build_robot
            - audit_robot
            - check_robot
            - build_midna
            - audit_midna
            - test_midna
            - test_sql_scripts
            - audit_version_changer
      - approve_deploy:
          type: approval
          requires:
            - change_version
          filters:
            branches:
              only:
                - /^\d+\.\d+\.\d+\.\d+$/
      - deploy_sql_runner:
          requires:
            - approve_deploy
      - publish_site:
          requires:
            - approve_deploy
      - publish_api:
          requires:
            - approve_deploy

