<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    
    <section name="nhibernate" requirePermission="false" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    
    <section name="log4net" requirePermission="false" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah"/>
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
    </sectionGroup>
    
  </configSections>

  <appSettings>
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <add key="Server" value="localhost"/>
    <add key="DataBase" value="DFM"/>
    <add key="DBMS" value="MySQL"/>
    <add key="ShowSQL" value="true"/>
    <add key="ScriptFileFullName" value="D:\DFM.txt" /-->

    <add key="DBAction" value="Validate"/>

    <add key="email" value="dfm@dontflymoney.com" />
    <add key="email-receiver-pass" value="[and-the-password-goes-here]" />

    <!--add key="EmailSender" value="DontSend"/-->
  </appSettings>
  
  <system.data>
    <DbProviderFactories>
      <clear/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.1.2.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>

  <system.web>

    <customErrors mode="RemoteOnly">
      <error statusCode="404" redirect="/Ops/Code/404"/>
      <error statusCode="500" redirect="/Ops/Code/500"/>
    </customErrors>

    <globalization uiCulture="en" culture="en-GB"/>

    <compilation debug="true" targetFramework="4.0">
      <assemblies>
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/User/LogOn" timeout="2880"/>
    </authentication>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
        <add namespace="DFM.MVC.Helpers"/>
        <add namespace="DFM.MVC.Helpers.Views"/>
        <add namespace="DFM.MVC.Helpers.Extensions"/>
        <add namespace="DFM.Entities.Extensions"/>
        <add namespace="DFM.BusinessLogic.Helpers"/>
        <add namespace="DFM.Multilanguage.Helpers"/>
      </namespaces>
    </pages>

    <httpHandlers>
      <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah"/>
    </httpHandlers>
    
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
    </httpModules>
    
  </system.web>
  
  
  <system.webServer>
    
    <validation validateIntegratedModeConfiguration="false"/>
    
    <modules runAllManagedModulesForAllRequests="true">
      <add name="Elmah.ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler"/>
      <!--<add name="Elmah.ErrorFilter" type="Elmah.ErrorFilterModule" preCondition="managedHandler" />-->
      <!--<add name="Elmah.ErrorMail" type="Elmah.ErrorMailModule" preCondition="managedHandler" />-->
    </modules>
    
    <handlers>
      <add name="Elmah" path="elmah.axd" verb="POST,GET,HEAD" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode"/>
    </handlers>

  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
		</assemblyBinding>
  </runtime>


  <elmah>
    <security allowRemoteAccess="yes"/>
    <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/data/log_files/elmah"/>
  </elmah>

  <nhibernate>
    <reflection-optimizer use="false"/>
    <add key="hibernate.show_sql" value="true"/>
  </nhibernate>

  <log4net debug="true">

    <!--appender name="trace" type="log4net.Appender.TraceAppender, log4net">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %c{1}:%L - %m%n" />
      </layout>
    </appender-->

    <!--appender name="console" type="log4net.Appender.ConsoleAppender, log4net">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %c{1}:%L - %m%n" />
      </layout>
    </appender-->

    <appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="data/log_files/log4net/nh.log"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Date"/>
      <param name="DatePattern" value=" - yyyy.MM.dd"/>
      <param name="StaticLogFileName" value="true"/>

      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
      </layout>
    </appender>

    <appender name="mySql" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="10"/>
      <lossy value="true"/>
      <connectionType value="MySql.Data.MySqlClient.MySqlConnection, MySql.Data"/>
      <connectionString value="server=localhost;uid=dfm_User;pwd=1qAz3eDc5tGb7uJm;database=DFM;"/>
      <commandText value="INSERT INTO_ log (Date,Thread,Level,Logger,Message,Method,Parameters,Exception,Context,ExecutionTime) VALUES (?log_date, ?thread, ?log_level, ?logger, ?message, ?method_name, ?parameters, ?exception, ?context, ?execution_time)"/>
      <parameter>
        <parameterName value="log_date"/>
        <dbType value="DateTime"/>
        <layout type="log4net.Layout.RawTimeStampLayout"/>
      </parameter>
      <parameter>
        <parameterName value="thread"/>
        <dbType value="String"/>
        <size value="32"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%t"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="log_level"/>
        <dbType value="String"/>
        <size value="512"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%p"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="logger"/>
        <dbType value="String"/>
        <size value="512"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%c"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="message"/>
        <dbType value="String"/>
        <size value="1000"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%m"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="method_name"/>
        <dbType value="String"/>
        <size value="200"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{method_name}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="parameters"/>
        <dbType value="String"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{parameters}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="exception"/>
        <dbType value="String"/>
        <size value="4000"/>
        <layout type="log4net.Layout.ExceptionLayout"/>
      </parameter>
      <parameter>
        <parameterName value="context"/>
        <dbType value="String"/>
        <size value="512"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%x"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="execution_time"/>
        <dbType value="Decimal"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{execution_time}"/>
        </layout>
      </parameter>
    </appender>

    <!-- Setup the root category, add the appenders and set the default priority -->
    <root>
      <priority value="DEBUG"/>
      <appender-ref ref="rollingFile"/>
    </root>

    <logger name="NHibernate">
      <level value="WARN"/>
    </logger>

    <logger name="NHibernate.SQL">
      <level value="DEBUG"/>
    </logger>

  </log4net>


</configuration>
