<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="nhibernate" requirePermission="false" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section name="log4net" requirePermission="false" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
		<sectionGroup name="elmah">
			<section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
			<section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
			<section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
			<section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
		</sectionGroup>
	</configSections>

	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="false" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />

		<add key="Server" value="localhost" />
		<add key="DataBase" value="DFM" />
		<add key="DBMS" value="MySQL" />
		<add key="ShowSQL" value="true" />
		<add key="ScriptFileFullName" value="data\log_files\NH_DB.txt" />

		<add key="Login" value="dfm_user" />
		<add key="DBAction" value="Validate" />

		<add key="Email" value="dfm@dontflymoney.com" />

		<add key="EmailSender" value="DontSend" />
		<add key="IsLocal" value="1" />
		<add key="PasswordErrorLimit" value="5" />
	</appSettings>

	<system.net >
		<mailSettings>
			<smtp configSource="smtp.config" />
		</mailSettings>
	</system.net>

	<system.data>
		<DbProviderFactories>
			<clear />
			<remove invariant="MySql.Data.MySqlClient" />
			<add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
		</DbProviderFactories>
	</system.data>

	<system.web>
		<customErrors mode="RemoteOnly">
			<error statusCode="404" redirect="/Ops/Code/404" />
			<error statusCode="500" redirect="/Ops/Code/500" />
		</customErrors>
		<globalization uiCulture="en" culture="en-GB" />
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
		<authentication mode="Forms">
			<forms loginUrl="~/Users/LogOn" timeout="2880" />
		</authentication>
		<pages controlRenderingCompatibilityVersion="4.0">
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
				<add namespace="DFM.MVC.Helpers.Views" />
				<add namespace="DFM.MVC.Helpers.Global" />
				<add namespace="DFM.MVC.Helpers.Extensions" />
				<add namespace="DFM.Entities.Extensions" />
				<add namespace="DFM.BusinessLogic.Helpers" />
				<add namespace="DFM.Multilanguage.Helpers" />
				<add namespace="DFM.MVC.Helpers.Authorize" />
				<add namespace="DFM.MVC.Assets.Resources" />
				<add namespace="DFM.MVC.Assets.Resources.Contracts" />
			</namespaces>
		</pages>
		<httpHandlers>
			<add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
		</httpHandlers>
		<httpModules>
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
			<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
			<add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
		</httpModules>
	</system.web>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />

		<modules runAllManagedModulesForAllRequests="true">
			<add name="Elmah.ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
			<!--<add name="Elmah.ErrorFilter" type="Elmah.ErrorFilterModule" preCondition="managedHandler" />-->
			<!--<add name="Elmah.ErrorMail" type="Elmah.ErrorMailModule" preCondition="managedHandler" />-->
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
			<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
			<add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
		</modules>

		<handlers>
			<add name="Elmah" path="elmah.axd" verb="POST,GET,HEAD" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
		</handlers>

		<httpProtocol>
			<customHeaders>
				<add name="X-Frame-Options" value="DENY" />
			</customHeaders>
		</httpProtocol>

		<rewrite>
			<rules>
				<rule name="OldUserController" stopProcessing="true">
					<match url="^User$" />
					<action type="Redirect" url="/Users" />
				</rule>
				<rule name="OldUserControllerWithAction" stopProcessing="true">
					<match url="^User\/(.*)$" />
					<action type="Redirect" url="/Users/{R:1}" />
				</rule>

				<rule name="OldTokenController" stopProcessing="true">
					<match url="^Token$" />
					<action type="Redirect" url="/Tokens" />
				</rule>
				<rule name="OldTokenControllerWithAction" stopProcessing="true">
					<match url="^Token\/(.*)$" />
					<action type="Redirect" url="/Tokens/{R:1}" />
				</rule>

				<rule name="UserLogonMistakeUrl" stopProcessing="true">
					<match url="^Users\/login(.*)$" />
					<action type="Redirect" url="/Users/Logon{R:1}" />
				</rule>
				<rule name="UserSignUpMistakeUrl" stopProcessing="true">
					<match url="^Users\/register(.*)$" />
					<action type="Redirect" url="/Users/SignUp{R:1}" />
				</rule>

				<rule name="ApiUninvited" stopProcessing="true">
					<match url="^Api-/(.*)"/>
					<action type="Redirect" url="Api/{R:1}" appendQueryString="true" />
				</rule>

				<rule name="DontHackHelp" stopProcessing="true">
					<match url="
						|^apple-app-site-association.*$|^rasiqmcmu.html$|
						|^.*.php$|^wp-admin|^wordpress|^wp|
						|^fck/fckconfig.js|^fckeditor/fckconfig.js|
						|^includes/fckeditor/fckconfig.js|
						|^includes/fck/fckconfig.js|
						|^include/fckeditor/fckconfig.js|
						|^inc/fckeditor/fckconfig.js|
						|^inc/fck/fckconfig.js|
						|^js/fckeditor/fckconfig.js|
						|^js/fck/fckconfig.js|
						|^myadmin|^phpmyadmin|^pma|
						|^sql|^admin.*$|
						|^components|
						|^license|^readme.txt|^readme.md|
						|^component\/users\/.*$|
						|^.well-known\/apple-app-site-association|
						|^.well-known\/assetlinks.json|
						|^sitemap.xml|
					" />
					<action type="Redirect" url="/Ops/Help" />
				</rule>

				<rule name="Android" stopProcessing="true">
					<match url="^downloader"/>
					<action type="Redirect" 
						url="https://play.google.com/store/apps/details?id=com.dontflymoney.view" />
				</rule>

				<rule name="Twitter" stopProcessing="true">
					<match url="^blog.*$" />
					<action type="Redirect" url="http://twitter.com/dfm_grunt" />
				</rule>

			</rules>
		</rewrite>

	</system.webServer>

	<elmah>
		<!--
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on remote access and securing ELMAH.
		-->
		<security allowRemoteAccess="yes" />
		<errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/data/log_files/elmah" />
	</elmah>

	<nhibernate>
		<reflection-optimizer use="false" />
		<add key="hibernate.show_sql" value="true" />
	</nhibernate>

	<log4net debug="true">
		<!--appender name="trace" type="log4net.Appender.TraceAppender, log4net">
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %c{1}:%L - %m%n" />
			</layout>
		</appender-->
		<!--appender name="console" type="log4net.Appender.ConsoleAppender, log4net">
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %c{1}:%L - %m%n" />
			</layout>
		</appender-->
		<appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net">
			<param name="File" value="data/log_files/log4net/nh.log" />
			<param name="AppendToFile" value="true" />
			<param name="RollingStyle" value="Date" />
			<param name="DatePattern" value=" - yyyy.MM.dd" />
			<param name="StaticLogFileName" value="true" />
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
			</layout>
		</appender>
		<appender name="mySql" type="log4net.Appender.AdoNetAppender">
			<bufferSize value="10" />
			<lossy value="true" />
			<connectionType value="MySql.Data.MySqlClient.MySqlConnection, MySql.Data" />
			<connectionString value="server=localhost;uid=dfm_User;pwd=1qAz3eDc5tGb7uJm;database=DFM;" />
			<commandText value="INSERT INTO_ log (Date,Thread,Level,Logger,Message,Method,Parameters,Exception,Context,ExecutionTime) VALUES (?log_date, ?thread, ?log_level, ?logger, ?message, ?method_name, ?parameters, ?exception, ?context, ?execution_time)" />
			<parameter>
				<parameterName value="log_date" />
				<dbType value="DateTime" />
				<layout type="log4net.Layout.RawTimeStampLayout" />
			</parameter>
			<parameter>
				<parameterName value="thread" />
				<dbType value="String" />
				<size value="32" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%t" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="log_level" />
				<dbType value="String" />
				<size value="512" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%p" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="logger" />
				<dbType value="String" />
				<size value="512" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%c" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="message" />
				<dbType value="String" />
				<size value="1000" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%m" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="method_name" />
				<dbType value="String" />
				<size value="200" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{method_name}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="parameters" />
				<dbType value="String" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{parameters}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="exception" />
				<dbType value="String" />
				<size value="4000" />
				<layout type="log4net.Layout.ExceptionLayout" />
			</parameter>
			<parameter>
				<parameterName value="context" />
				<dbType value="String" />
				<size value="512" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%x" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="execution_time" />
				<dbType value="Decimal" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{execution_time}" />
				</layout>
			</parameter>
		</appender>
		<!-- Setup the root category, add the appenders and set the default priority -->
		<root>
			<priority value="DEBUG" />
			<appender-ref ref="rollingFile" />
		</root>
		<logger name="NHibernate">
			<level value="WARN" />
		</logger>
		<logger name="NHibernate.SQL">
			<level value="DEBUG" />
		</logger>
	</log4net>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.9.9.0" newVersion="6.9.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.4000" newVersion="4.1.0.4000" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<location path="elmah.axd" inheritInChildApplications="false">
		<system.web>
			<httpHandlers>
				<add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
			</httpHandlers>
			<!-- 
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on using ASP.NET authorization securing ELMAH.

      <authorization>
        <allow roles="admin" />
        <deny users="*" />  
      </authorization>
      -->
		</system.web>
		<system.webServer>
			<handlers>
				<add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
			</handlers>
		</system.webServer>
	</location>

	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>

</configuration>
