<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr3.Runtime" version="3.5.1" targetFramework="net47" />
  <package id="FluentNHibernate" version="2.1.2" targetFramework="net471" />
  <package id="Google.Protobuf" version="3.6.1" targetFramework="net471" />
  <package id="Iesi.Collections" version="4.0.4" targetFramework="net471" />
  <package id="MySql.Data" version="8.0.15" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net471" />
  <package id="NHibernate" version="5.2.3" targetFramework="net471" />
  <package id="NUnit" version="3.11.0" targetFramework="net471" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="net471" />
  <package id="Remotion.Linq.EagerFetching" version="2.2.0" targetFramework="net471" />
  <package id="SpecFlow" version="2.4.1" targetFramework="net471" />
  <package id="SpecFlow.NUnit" version="2.4.1" targetFramework="net471" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net45" requireReinstallation="true" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net471" />
</packages>
