@using DFM.MVC.Areas.Account.Models.SubModels
@model DFM.MVC.Areas.Account.Models.SubModels.ITotal

<div class="well well-lg text-center totals">
	@await Html.PartialAsync("Subtotal",
		new Subtotal(
			Model.Language,
			"Total",
			Model.Current,
			Model.CurrentSign
		)
	)

	@if (Model.Foreseen.HasValue)
	{
		<div class="foreseen foreseen-total well @Model.ForeseenClass">
			@await Html.PartialAsync("Subtotal",
				new Subtotal(
					Model.Language,
					"Foreseen",
					Model.Foreseen.Value,
					Model.ForeseenSign
				)
			)
		</div>
	}
</div>
