@using DFM.Generic
@using DFM.MVC.Areas.API.Helpers;

@{
	var controller = ViewContext.RouteData.Values["Controller"];
	var action = ViewContext.RouteData.Values["Action"];
	var id = ViewContext.RouteData.Values["id"];
	var accountUrl = ViewContext.RouteData.Values["AccountUrl"];
	var currentUrl = MobileUrls.Get[controller, action];

	var route = new {
		activity = currentUrl,
		id = id,
		accountUrl = accountUrl,
	};
}

<footer class="container">
	<hr />

	<div class="row">

		<div class="col-lg-1 col-sm-2">
			<a href="@Url.RouteUrl(RouteNames.MOBILE, route)"
			   target="_blank" class="android-link"></a>
		</div>

		<div class="col-lg-4 col-sm-6">
			<small>@MultiLanguage.Dictionary["AndroidRobotLicenseText"]</small>
		</div>

		<div class="col-lg-7 col-sm-4 text-right">
			Don't fly Money<br/>
			@Cfg.Version<br/>
			2011
		</div>

	</div>
</footer>
