@using DFM.Generic

<footer class="container">
	<div class="row">

		<div class="col-lg-1 col-sm-2">
			<a href="http://play.google.com/store/apps/details?id=com.dontflymoney.view"
			   target="_blank" class="android-link"></a>
		</div>

		<div class="col-lg-4 col-sm-6">
			<small>
				@MultiLanguage.Dictionary["AndroidRobotLicenseText"]
			</small>
		</div>

		<div class="col-lg-7 col-sm-4 text-right">
			Don't fly Money<br />
			@Cfg.Version<br />
			2011
		</div>

	</div>
</footer>
