@{
    ViewBag.Title = MultiLanguage.Dictionary["UserVerification"];
}

<div class="HalfScreen">
    @MultiLanguage.Dictionary["UserVerificationSuccess"]

    @Html.ActionLink(MultiLanguage.Dictionary["Logon"], "LogOn", "User")
</div>