@model BaseSiteModel

@{
	ViewBag.Title = Context.Translate("DoNotHack");
	Layout = "~/Views/Shared/Layouts/_Form.cshtml";

	ViewBag.Style = "info";
}

<div class="text-center">
	<a href='https://github.com/darakeon/dfm'
		target='_blank'
		rel="noopener noreferrer"
		title="github"
	>
		@await Html.PartialAsync("github", "github")
	</a>
</div>
<div class="credits">
	@Context.Translate("ImageBy")
	<a href="https://www.flaticon.com/br/autores/dave-gandy"
		target="_blank"
		rel="noopener noreferrer"
		title="Dave Gandy"
	>
		Dave Gandy
	</a>
</div>

@section Footer
{
	@Context.Translate("Help")
}
