@{
	ViewBag.Title = Context.Translate("LegendTitle");
	Layout = "~/Views/Shared/Layouts/_Table.cshtml";

	ViewBag.HasContent = true;
	ViewBag.TableLgSize = 8;
}

@section TableHeader {
	<tr>
		<th class="text-center">@Context.Translate("Icon")</th>
		<th>@Context.Translate("Meaning")</th>
	</tr>
}

@{
	var icons = new Dictionary<String, String> {
		{ "plus", Context.Translate("Create") },
		{ "pencil", Context.Translate("Edit") },
		{ "trash", Context.Translate("Delete") },
		{ "calendar", Context.Translate("OpenCalendar") },
		{ "ok-sign", Context.Translate("Move", "Check") },
		{ "remove-sign", Context.Translate("Move", "Uncheck") },
		{ "exclamation-sign", Context.Translate("Move", "Checked") },
		{ "question-sign", Context.Translate("Move", "Unchecked") },
		{ "thumbs-up", Context.Translate("Account", "GreenLimit") },
		{ "thumbs-down", Context.Translate("Account", "YellowLimit") },
		{ "fire", Context.Translate("Account", "RedLimit") },
		{ "minus", Context.Translate("Account", "NoneLimit") },
		{ "eye-close", Context.Translate("Disable") },
		{ "eye-open", Context.Translate("Enable") },
		{ "home", Context.Translate("Home") },
		{ "cog", Context.Translate("Settings") },
		{ "off", Context.Translate("Logoff") },
		{ "transfer", Context.Translate("Transfer") },
		{ "plus-sign", Context.Translate("In") },
		{ "minus-sign", Context.Translate("Out") },
		{ "info-sign", Context.Translate("Info") },
		{ "hourglass", Context.Translate("Pending") },
		{ "ok", Context.Translate("Success") },
		{ "remove", Context.Translate("Error") },
		{ "repeat", Context.Translate("Retry") },
	};
}

@foreach(var key in icons.Keys)
{
	<tr>
		<td class="text-center">
			<span class="glyphicon glyphicon-@key" title="@icons[key]"></span>
		</td>
		<td>
			@icons[key]
		</td>
	</tr>
}

