#newCategory {
    float: right;
    display: none;
}

#AccountID {
    display: none;
}

.createMoveScreenLeft {
    float: left;
    width: 35%;
    clear: left;
}

div#Main div {
    padding-bottom: 10px;
}

.CRUDCategory button {
	margin: 0;
}

.CRUDCategory {
	width: 200px !important;
}

#moveCreateButton {
    clear: both;
    text-align: right;
}

#addDetailCaller {
    margin-left: 20px;
    display: none;
}

input.amount {
	width: 30px;
}