#newCategory {
    float: right;
    display: none;
}

#AccountID {
    display: none;
}



.createMoveScreenLeft, .createMoveScreenRight
{
    float: left;
}

.createMoveScreenLeft {
    width: 35%;
    clear: left;
}

.createMoveScreenRight {
    width: 60%;
    margin-right: -200px;
}

.createMoveScreenLeft div, .createMoveScreenRight div 
{
    margin: 10px 0;
}



.CRUDCategory button {
	margin-top: 5px;
}

.CRUDCategory {
	width: 200px !important;
}

#moveCreateButton {
    clear: both;
    text-align: right;
}

#addDetailCaller {
    margin-left: 20px;
    display: none;
}

input.amount {
	width: 30px;
}

.divRowForm
{
    clear: both;
    padding: 10px 0;
}

.divRowForm hr
{
    background-color: #990;
    height: 1px;
    width: 95%;
    border: none;
}

.max {
	display: inline;
}

#details .max {
	color: #CCC;
	float: right;
	margin-top: 2px;
}