@model UsersSignUpModel

<div class="modal" id="contract-modal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<span class="modal-title">
					@Context.Translate("ContractTitle")
				</span>
				@await Html.PartialAsync("Modals/Close")
			</div>
			<div class="modal-body">
				<div class="contract">
					@if (Model.Contract != null) {
						@await Html.PartialAsync("../Users/Clause", Model.Contract[Model.Language])
					}
				</div>
			</div>
		</div>
	</div>
</div>
