@model BaseSiteModel

<!DOCTYPE html>

<html>
<head>
	<title>@await Html.PartialAsync("Title")</title>

	<link rel="shortcut icon" type="image/ico" href="~/Assets/Images/pig.ico" />
	<meta property="og:image" content="https://dontflymoney.com/Assets/Images/face-pig.png" />

	<link href="~/Assets/Libs/Themes/bootstrap-@(Model.Theme).min.css?v=@Cfg.Version" rel="stylesheet" type="text/css" id="bootstrap-theme" />
	<link href="~/Assets/Styles/android.css?v=@Cfg.Version" rel="stylesheet" type="text/css" />
	<link href="~/Assets/Styles/default.css?v=@Cfg.Version" rel="stylesheet" type="text/css" />

	@RenderSection("Styles", false)

	<script src="~/Assets/Libs/Scripts/jquery.min.js?v=@Cfg.Version" type="text/javascript"></script>
	<script src="~/Assets/Libs/Scripts/bootstrap.min.js?v=@Cfg.Version" type="text/javascript"></script>
	<script src="~/Assets/Libs/MaskedMoney/jquery.moneyMask.js?v=@Cfg.Version" type="text/javascript"></script>

	<script src="~/Assets/Scripts/default.js?v=@Cfg.Version" type="text/javascript"></script>

	<script src="~/Assets/Libs/Scripts/jquery.unobtrusive-ajax.min.js?v=@Cfg.Version"></script>

	@RenderSection("Scripts", false)
</head>
<body>

	@await Html.PartialAsync("Header")

	<div id="body" class="container">
		@await Html.PartialAsync("Wizard")
		@RenderBody()
	</div>

	@await Html.PartialAsync("Footer")

</body>
</html>
