<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap.less" version="3.3.7" targetFramework="net47" />
  <package id="Bootstrap.v3.Datetimepicker" version="4.17.45" targetFramework="net461" />
  <package id="jQuery" version="3.2.1" targetFramework="net47" />
  <package id="Moment.js" version="2.20.1" targetFramework="net47" />
</packages>