@model ValueWithSign
@using DFM.Language.Extensions

@{
	var value = (Model.Value < 0 ? -Model.Value : Model.Value)
		.ToMoney(Model.Language, Model.DifferentIfZero);

	var color = Model.Nature ??
		(
			Model.Value > 0 ? MoveNature.In :
			Model.Value < 0 ? MoveNature.Out :
				MoveNature.Transfer
		);

	var className = await Html.PartialAsync("Extensions/NatureColor", color);

	var nature = Model.Nature ??
		(
			Model.Value > 0 ? MoveNature.In :
			Model.Value < 0 ? MoveNature.Out :
				default(MoveNature?)
		);

	var title = nature == null
		? Context.Translate("Zero")
		: Context.Translate(nature.ToString());
}

<span class="text-@className money" title="@title">
	<span class="@await Html.PartialAsync("Extensions/NatureIcon", nature)" title="@title"></span>
	@value
</span>
