/* ReSharper disable RequiresFallbackColor */
/* if change success, info, warning or danger, change into colors-dark.js */

:root {
	--neutral-0: #111;
	--neutral-1: #222;
	--neutral-2: #333;
	--neutral-3: #444;
	--neutral-4: #666;
	--neutral-5: #CCC;
	--neutral-6: #EEE;
	--transparent-0-0-0: rgba(255, 255, 255, 0.05);
	--transparent-0-0-1: rgba(255, 255, 255, 0.05) 0;
	--transparent-0-0-2: rgba(255, 255, 255, 0.05) 100%;
	--transparent-0-1: rgba(255, 255, 255, 0.075);
	--transparent-0-2: rgba(255, 255, 255, 0.1);
	--transparent-0-3: rgba(255, 255, 255, 0.125);
	--transparent-0-4: rgba(255, 255, 255, 0.15);
	--transparent-0-5: rgba(255, 255, 255, 0.175);
	--transparent-0-6: rgba(255, 255, 255, 0.2);
	--transparent-0-7: rgba(255, 255, 255, 0.25);
	--transparent-0-8-0: rgba(255, 255, 255, 0.5);
	--transparent-0-8-1: rgba(255, 255, 255, 0.5) 0;
	--transparent-0-8-2: rgba(255, 255, 255, 0.5) 100%;
	--transparent-0-9: rgba(255, 255, 255, 0.6);
	--transparent-1: rgba(170, 170, 170, 0.6);
	--transparent-2-0: rgba(0, 0, 0, 0.1);
	--transparent-2-1-0: rgba(0, 0, 0, 0.15) 25%;
	--transparent-2-1-1: rgba(0, 0, 0, 0.15) 50%;
	--transparent-2-1-2: rgba(0, 0, 0, 0.15) 75%;
	--default-0: #BBB;
	--default-1: #CCC;
	--default-2: #DDD;
	--default-3: #EEE;
}

:root {
	--on-success-0: #0b9;
	--on-success-1: #0a8;
	--on-success-2: #097;
	--on-success-3: #086;
	--on-success-4: #075;
	--on-success-5: #064;
	--on-info-0: #59f;
	--on-info-1: #58e;
	--on-info-2: #57d;
	--on-info-3: #56c;
	--on-info-4: #55b;
	--on-info-5: #54a;
	--on-warning-0: #fb3;
	--on-warning-1: #ea3;
	--on-warning-2: #d92;
	--on-warning-3: #c82;
	--on-warning-4: #b71;
	--on-warning-5: #a61;
	--on-danger-0: #f77;
	--on-danger-1: #e77;
	--on-danger-2: #d66;
	--on-danger-3: #c66;
	--on-danger-4: #b55;
	--on-danger-5: #a55;
}

:root {
	--off-success-0: #BBB;
	--off-success-1: #BBB;
	--off-success-2: #BBB;
	--off-success-3: #BBB;
	--off-success-4: #BBB;
	--off-success-5: #BBB;
	--off-info-0: #CCC;
	--off-info-1: #CCC;
	--off-info-2: #CCC;
	--off-info-3: #CCC;
	--off-info-4: #CCC;
	--off-info-5: #CCC;
	--off-warning-0: #DDD;
	--off-warning-1: #DDD;
	--off-warning-2: #DDD;
	--off-warning-3: #DDD;
	--off-warning-4: #DDD;
	--off-warning-5: #DDD;
	--off-danger-0: #EEE;
	--off-danger-1: #EEE;
	--off-danger-2: #EEE;
	--off-danger-3: #EEE;
	--off-danger-4: #EEE;
	--off-danger-5: #EEE;
}

:root {
	--magic-primary-0: #A9C;
	--magic-primary-1: #98B;
	--magic-primary-2: #87A;
	--magic-primary-3: #769;
	--magic-highlight-0: #FCC;
	--magic-highlight-1: #EBB;
	--magic-highlight-2: #DAA;
	--magic-highlight-3: #C99;
}

:root {
	--sober-primary-0: #9AB;
	--sober-primary-1: #89A;
	--sober-primary-2: #789;
	--sober-primary-3: #678;
	--sober-highlight-0: #FFD;
	--sober-highlight-1: #EEC;
	--sober-highlight-2: #DDB;
	--sober-highlight-3: #CCA;
}

:root {
	--nature-primary-0: #9BA;
	--nature-primary-1: #8A9;
	--nature-primary-2: #798;
	--nature-primary-3: #687;
	--nature-highlight-0: #FC9;
	--nature-highlight-1: #EB8;
	--nature-highlight-2: #DA7;
	--nature-highlight-3: #C96;
}

:root {
	--mono-primary-0: #DDD;
	--mono-primary-1: #DDD;
	--mono-primary-2: #EEE;
	--mono-primary-3: #EEE;
	--mono-highlight-0: #FFF;
	--mono-highlight-1: #FFF;
	--mono-highlight-2: #FFF;
	--mono-highlight-3: #FFF;
}
