/* ReSharper disable RequiresFallbackColor */
/* if change success, info, warning or danger, change into colors-light.js */

:root {
	--neutral-0: #EEE;
	--neutral-1: #DDD;
	--neutral-2: #CCC;
	--neutral-3: #BBB;
	--neutral-4: #999;
	--neutral-5: #333;
	--neutral-6: #111;
	--transparent-0-0-0: rgba(0, 0, 0, 0.05);
	--transparent-0-0-1: rgba(0, 0, 0, 0.05) 0;
	--transparent-0-0-2: rgba(0, 0, 0, 0.05) 100%;
	--transparent-0-1: rgba(0, 0, 0, 0.075);
	--transparent-0-2: rgba(0, 0, 0, 0.1);
	--transparent-0-3: rgba(0, 0, 0, 0.125);
	--transparent-0-4: rgba(0, 0, 0, 0.15);
	--transparent-0-5: rgba(0, 0, 0, 0.175);
	--transparent-0-6: rgba(0, 0, 0, 0.2);
	--transparent-0-7: rgba(0, 0, 0, 0.25);
	--transparent-0-8-0: rgba(0, 0, 0, 0.5);
	--transparent-0-8-1: rgba(0, 0, 0, 0.5) 0;
	--transparent-0-8-2: rgba(0, 0, 0, 0.5) 100%;
	--transparent-0-9: rgba(0, 0, 0, 0.6);
	--transparent-1: rgba(85, 85, 85, 0.6);
	--transparent-2-0: rgba(255, 255, 255, 0.1);
	--transparent-2-1-0: rgba(255, 255, 255, 0.15) 25%;
	--transparent-2-1-1: rgba(255, 255, 255, 0.15) 50%;
	--transparent-2-1-2: rgba(255, 255, 255, 0.15) 75%;
	--default-0: #444;
	--default-1: #333;
	--default-2: #222;
	--default-3: #111;
}

:root {
	--on-success-0: #175;
	--on-success-1: #164;
	--on-success-2: #153;
	--on-success-3: #142;
	--on-success-4: #131;
	--on-success-5: #120;
	--on-info-0: #259;
	--on-info-1: #248;
	--on-info-2: #237;
	--on-info-3: #226;
	--on-info-4: #215;
	--on-info-5: #204;
	--on-warning-0: #952;
	--on-warning-1: #852;
	--on-warning-2: #741;
	--on-warning-3: #641;
	--on-warning-4: #530;
	--on-warning-5: #430;
	--on-danger-0: #b32;
	--on-danger-1: #a32;
	--on-danger-2: #921;
	--on-danger-3: #821;
	--on-danger-4: #710;
	--on-danger-5: #610;
}

:root {
	--off-success-0: #444;
	--off-success-1: #444;
	--off-success-2: #444;
	--off-success-3: #444;
	--off-success-4: #444;
	--off-success-5: #444;
	--off-info-0: #333;
	--off-info-1: #333;
	--off-info-2: #333;
	--off-info-3: #333;
	--off-info-4: #333;
	--off-info-5: #333;
	--off-warning-0: #222;
	--off-warning-1: #222;
	--off-warning-2: #222;
	--off-warning-3: #222;
	--off-warning-4: #222;
	--off-warning-5: #222;
	--off-danger-0: #111;
	--off-danger-1: #111;
	--off-danger-2: #111;
	--off-danger-3: #111;
	--off-danger-4: #111;
	--off-danger-5: #111;
}

:root {
	--magic-primary-0: #436;
	--magic-primary-1: #325;
	--magic-primary-2: #214;
	--magic-primary-3: #103;
	--magic-highlight-0: #700;
	--magic-highlight-1: #600;
	--magic-highlight-2: #500;
	--magic-highlight-3: #400;
}

:root {
	--sober-primary-0: #345;
	--sober-primary-1: #234;
	--sober-primary-2: #123;
	--sober-primary-3: #012;
	--sober-highlight-0: #660;
	--sober-highlight-1: #550;
	--sober-highlight-2: #440;
	--sober-highlight-3: #330;
}

:root {
	--nature-primary-0: #354;
	--nature-primary-1: #243;
	--nature-primary-2: #132;
	--nature-primary-3: #021;
	--nature-highlight-0: #950;
	--nature-highlight-1: #840;
	--nature-highlight-2: #730;
	--nature-highlight-3: #620;
}

:root {
	--mono-primary-0: #222;
	--mono-primary-1: #222;
	--mono-primary-2: #111;
	--mono-primary-3: #111;
	--mono-highlight-0: #000;
	--mono-highlight-1: #000;
	--mono-highlight-2: #000;
	--mono-highlight-3: #000;
}
