@model SchedulesCreateModel

<div class="row">

	<div class="col-sm-4">
		@await Html.PartialAsync("Repeating")
	</div>

	<div class="col-sm-4 wizard-highlight-4">
		@await Html.PartialAsync("Installment")
	</div>

	<div class="col-sm-4 wizard-highlight-1">
		@await Html.PartialAsync("Frequency")
	</div>

</div>
