<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="DataBase" value="dfm_browser_test"
		     xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="IsLocalTest" value="1"
		     xdt:Transform="Insert" />
	</appSettings>
	<system.net>
		<mailSettings xdt:Transform="Remove" />
	</system.net>
</configuration>
