@{
	ViewBag.Title = Context.Translate("DeleteCsvData");
	Layout = "~/Views/Shared/Layouts/_Result.cshtml";
	ViewBag.Style = "success";
}

<div class="well-sm">
	@Context.Translate("DeleteCsvDataSuccess")
</div>
