@{
	ViewBag.Title = Context.Translate("PasswordReset");
	Layout = "~/Views/Shared/Layouts/_Result.cshtml";
	ViewBag.Style = "success";
}

<div class="well-sm">
	@Context.Translate("PasswordResetSuccess")
</div>

@Html.ActionLink(Context.Translate("Logon"), "LogOn", "Users", null, new { @class = "btn btn-sm btn-link" })
