@{
	ViewBag.Title = Context.Translate("RemoveTFA");
	Layout = "~/Views/Shared/Layouts/_Result.cshtml";
	ViewBag.Style = "warning";
}

<div class="well-sm">
	@Context.Translate("RemoveTFASuccess")
</div>
