@{
	ViewBag.Title = Context.Translate("UnsubscribeMoveMail");
	Layout = "~/Views/Shared/Layouts/_Result.cshtml";
	ViewBag.Style = "success";
}

<div class="well-sm">
	@Context.Translate("UnsubscribeMoveMailSuccess")
</div>

@Html.ActionLink(
	Context.Translate("GoToSettings"),
	"Index", "Settings",
	null, new { @class = "alert-link" }
)
