@model ImportStatus

<span 
	class="
		glyphicon
		glyphicon-@await Html.PartialAsync("ImportStatusIcon", Model)
		text-@await Html.PartialAsync("ImportStatusColor", Model)
	"
	title="@Context.Translate(Model.ToString())">
</span>
