@model SchedulesCreateModel

<div class="form-group checkbox">
	<label for="@Html.IdFor(m => m.ShowInstallment)">
		@Html.CheckBoxFor(m => m.ShowInstallment)
		@Translator.Dictionary["ShowInstallment"]
	</label>
</div>