@model BaseAccountModel

@{
    var value = Model.Account.Total();
    var negative = value.IsNegative();
    var signClass = negative ? "out" : "in";

    value *= negative ? -1 : 1;
    var valueToShow = value.ToMoney(Model.Language);
}

<div class="saldo">
    <span class="title">@MultiLanguage.Dictionary["Total"]</span>
    <span class="@signClass value">@valueToShow</span>
</div>