@model BaseAccountModel

@using DFM.MVC.Models

<div class="well well-sm text-center">
	<h6>@MultiLanguage.Dictionary["Total"]</h6>
	@Html.Partial("ValueWithSign",
		new ValueWithSign(Model.Account.Total(), Model.Language)
	)
</div>
