@model BaseMovesModel

<tfoot>
	<tr class="row">

		<td colspan="3" class="col-sm-11">
			<small>
				@String.Format(Translator.Dictionary["CharactersMax"], MaxLen.DetailDescription)
			</small>
		</td>

		<td class="col-sm-1">
			<button type="button"
				class="btn btn-sm btn-success btn-add-detail"
				title="@Translator.Dictionary["Create"]"
			>
				<span class="glyphicon glyphicon-plus"></span>
			</button>
		</td>

	</tr>
</tfoot>
