@model IEnumerable<String>

@{
	Layout = null;
}

<div style="width: @(500 * Model.Count())px;">

	@foreach (var layout in Model)
	{
		<div style="width: 500px; float: left;">
			@Html.Raw(layout)
		</div>
	}
	
</div>