@model AccountSign

<span
	class="
		glyphicon
		glyphicon-@await Html.PartialAsync("AccountSignIcon", Model)
		text-@await Html.PartialAsync("AccountSignColor", Model)
	"
	title="@Context.Translate($"{Model}Limit")">
</span>
