<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.darakeon.dfm"
		  xmlns:android="http://schemas.android.com/apk/res/android"
		  xmlns:tools="http://schemas.android.com/tools"
		  android:installLocation="auto"
		  android:versionCode="002004010200"
		  android:versionName="4.1.2.0">
	<!--
		Cannot put
		003 000 000 000
		replaced old pattern
		New Max Min Sys
		by
		0020 ne ma mi sy
	-->
	<uses-sdk android:maxSdkVersion="25"/>

	<uses-permission
		android:name="android.permission.INTERNET"
		android:protectionLevel="signature"/>
	<uses-permission
		android:name="android.permission.ACCESS_NETWORK_STATE"
		android:protectionLevel="signature"/>

	<uses-feature
		android:name="android.hardware.faketouch"
		android:required="true"/>

	<application
		android:allowBackup="false"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme">

		<meta-data
			android:name="asset_statements"
			android:resource="@string/asset_statements"/>

		<activity
			android:name=".activities.WelcomeActivity"
			android:label="@string/app_short_name">
			<tools:validation testUrl="https://dontflymoney.com/@Welcome"/>
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>

				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>

				<data
					android:host="dontflymoney.com"
					android:pathPrefix="/@Welcome"
					android:scheme="https"/>
			</intent-filter>
		</activity>

		<activity
			android:name=".activities.LoginActivity"
			android:label="@string/login">
			<tools:validation testUrl="https://dontflymoney.com/@Login"/>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>

				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>

				<data
					android:host="dontflymoney.com"
					android:pathPrefix="/@Login"
					android:scheme="https"/>
			</intent-filter>
		</activity>

		<activity
			android:name=".activities.AccountsActivity"
			android:label="@string/title_activity_accounts">
			<tools:validation testUrl="https://dontflymoney.com/@Accounts"/>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>

				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>

				<data
					android:host="dontflymoney.com"
					android:pathPrefix="/@Accounts"
					android:scheme="https"/>
			</intent-filter>
		</activity>

		<activity
			android:name=".activities.ExtractActivity"
			android:label="@string/title_activity_extract">
			<tools:validation testUrl="https://dontflymoney.com/@Extract"/>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>

				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>

				<data
					android:host="dontflymoney.com"
					android:pathPrefix="/@Extract"
					android:scheme="https"/>
			</intent-filter>
		</activity>

		<activity
			android:name=".activities.SummaryActivity"
			android:label="@string/title_activity_summary">
			<tools:validation testUrl="https://dontflymoney.com/@Summary"/>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>

				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>

				<data
					android:host="dontflymoney.com"
					android:pathPrefix="/@Summary"
					android:scheme="https"/>
			</intent-filter>
		</activity>

		<activity
			android:name=".activities.MovesCreateActivity"
			android:label="@string/title_activity_move">
			<tools:validation testUrl="https://dontflymoney.com/@MovesCreate"/>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>

				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>

				<data
					android:host="dontflymoney.com"
					android:pathPrefix="/@MovesCreate"
					android:scheme="https"/>
			</intent-filter>
		</activity>

		<activity
			android:name=".activities.SettingsActivity"
			android:label="@string/title_activity_settings">
			<tools:validation testUrl="https://dontflymoney.com/@Settings"/>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>

				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>

				<data
					android:host="dontflymoney.com"
					android:pathPrefix="/@Settings"
					android:scheme="https"/>
			</intent-filter>
		</activity>

		<activity android:name=".activities.TFAActivity" />
	</application>

</manifest>