@using DFM.Email

@{
	ViewBag.Title = MultiLanguage.Dictionary["ForgotPassword"];
	ViewBag.Style = "success";
	Layout = "../Shared/_Result.cshtml";
}

@Html.Raw(String.Format(
	MultiLanguage.Dictionary["FollowEmailIntructions"],
	"<span class='text-warning'>" + Sender.SenderAddress + "</span>")
)