@model UsersForgotPasswordModel

@{
	ViewBag.Title = Translator.Dictionary["ForgotPassword"];
	Layout = "~/Views/Shared/_Form.cshtml";
}

<div class="form-group">
	@Html.LabelFor(m => m.Email, Translator.Dictionary["Email"], new { @class = "control-label" })
	@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
</div>

@section Footer
{
	<button type="submit" class="btn btn-success">
		@Translator.Dictionary["Send"]
	</button>
}
