@using DFM.Email
@{
	ViewBag.Title = MultiLanguage.Dictionary["ForgotPassword"];
}

<div class="half-screen">
	@String.Format(
		MultiLanguage.Dictionary["FollowEmailIntructions"], 
		Sender.SenderAddress)
</div>