@model UsersRemoveTFAModel

@{
	Layout = "~/Views/Shared/_Form.cshtml";
	ViewBag.Title = MultiLanguage.Dictionary["TFARemove"];
}

<div class="form-group">
	@Html.LabelFor(m => m.Password, MultiLanguage.Dictionary["Password"])

	@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
	@Html.ValidationMessageFor(m => m.Password)
</div>

@section Footer {
	<button type="submit" class="btn btn-danger">
		@MultiLanguage.Dictionary["Delete"]
	</button>
}
