@model BaseMovesModel

@if (Model.ShowNoAccounts)
{
	<div class="alert alert-danger text-center">
		@Html.Raw(Context.Translate("NoAccountsMove").BreakLines())
	</div>
}

@if (Model.ShowNoCategories)
{
	<div class="alert alert-danger text-center">
		@Html.Raw(Context.Translate("NoCategoriesMove").BreakLines())
	</div>
}

