@model BaseMovesModel

<tfoot>
	<tr class="row">

		<td colspan="4" class="col-sm-11 detail-footer">
			<small>
				@String.Format(Context.Translate("CharactersMax"), MaxLen.DetailDescription)
			</small>
		</td>

		<td class="col-sm-1">
			<button type="button"
				class="btn btn-sm btn-success btn-glyph btn-add-detail"
				title="@Context.Translate("Create")"
			>
				<span class="glyphicon glyphicon-plus"></span>
			</button>
		</td>

	</tr>
</tfoot>
