@model BaseMovesModel

@await Html.PartialAsync("DetailTabs")

<div class="tab-content">

	<div class="tab-pane @(Model.IsDetailed ? "": "active")" id="just-value">
		@Html.TextBoxFor(
			m => m.Value,
			new
			{
				@class = "form-control number wizard-highlight-3",
				aria_label = Context.Translate("Value"),
			}
		)
	</div>

	<div class="tab-pane @(Model.IsDetailed ? "active" : "") form-group form-group-sm" id="detailed">
		<table class="table table-condensed">
			@await Html.PartialAsync("DetailHeader")
			@await Html.PartialAsync("DetailBody")
			@await Html.PartialAsync("DetailFooter")
		</table>
	</div>

</div>
