@model BaseMovesModel

@{
	var valueHL =
		Model.Type == OperationType.Creation
			? " wizard-highlight-3"
			: null;
}

@await Html.PartialAsync("DetailTabs")

<div class="tab-content">

	<div class="tab-pane @(Model.IsDetailed ? null : "active")" id="just-value">
		@Html.TextBoxFor(
			m => m.Value,
			new
			{
				@class = "form-control number" + valueHL,
				aria_label = Context.Translate("Value"),
			}
		)
	</div>

	<div class="tab-pane @(Model.IsDetailed ? "active" : null) form-group form-group-sm" id="detailed">
		<table class="table table-condensed">
			@await Html.PartialAsync("DetailHeader")
			@await Html.PartialAsync("DetailBody")
			@await Html.PartialAsync("DetailFooter")
		</table>
	</div>

</div>
