table {
    width: 100%;
    padding: 0;
    border-collapse: collapse;
}

table tr td {
    border: 1px solid #CCC;
    padding: 5px 20px;
    width: 40%;
}

table tr:first-child td {
    font-weight: bold;
}

table tr td:first-child {
    width: 20%;
    font-style: italic;
    text-align: left;
}



.alert {
    border: 2px solid #F00;
    color: #F00;
    background: #FF0;
}

    table tr:first-child td.alert {
        border: 1px solid #CCC;
        color: #000;
        background: #FFF;
    }
