.introduction {
    float: left;
    width: 590px;
    margin-right: 20px;
}

.twitter 
{
    float: right;
    margin-top: -15px;
}

.android-link
{
    float: left;
    width: 70px;
    height: 80px;
    background: url('/Assets/image/android.gif');
    padding: 0;
    margin: 185px 10px 10px 10px;
    display: none;
}

    .android-link:hover
    {
        background: url('/Assets/image/android.gif');
        background-position: 70px;
    }