hr.Text {
    background-color: #AA8E55;
    border: none;
    height: 1px;
    width: 25%;
}

.android-link
{
    float: right;
    width: 70px;
    height: 80px;
    background: url('/Assets/image/android.gif');
    padding: 0;
    margin: 10px;
    display: none;
}

    .android-link:hover
    {
        background: url('/Assets/image/android.gif');
        background-position: 70px;
    }