@using DFM.Email
@{
    ViewBag.Title = MultiLanguage.Dictionary["ForgotPassword"];
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}

<div class="half-screen">
    @String.Format(
        MultiLanguage.Dictionary["FollowEmailIntructions"], 
        Sender.SenderAddress)
</div>