@{
    ViewBag.Title = MultiLanguage.Dictionary["ForgotPassword"];
}

<div class="HalfScreen">
    @String.Format(
        MultiLanguage.Dictionary["FollowEmailIntructions"], 
        DFM.Email.Sender.SenderAddress)
</div>