@model UserForgotPasswordModel

@{
    ViewBag.Title = MultiLanguage.Dictionary["ForgotPassword"];
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}

<div class="half-screen">
    @using (Html.BeginForm())
    {
        <p>
            @Html.LabelFor(m => m.Email, MultiLanguage.Dictionary["Email"])
            @Html.TextBoxFor(m => m.Email) 
        </p>

        <button type="submit">@MultiLanguage.Dictionary["Send"]</button>
    }
</div>