@model DFM.MVC.Models.UserForgotPasswordModel

@{
    ViewBag.Title = MultiLanguage.Dictionary["ForgotPassword"];
}

<div class="half-screen">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        
        <p>
            @Html.LabelFor(m => m.Email, MultiLanguage.Dictionary["Email"])
            @Html.TextBoxFor(m => m.Email) 
        </p>

        <button type="submit">@MultiLanguage.Dictionary["Send"]</button>
    }
</div>