@{
    ViewBag.Title = MultiLanguage.Dictionary["Index_Welcome"];
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}

@section HtmlHeadCss {
    <link href="/Assets/css/Pages/user-index.css" rel="stylesheet" type="text/css" />
}

@section HtmlFooterJs { 
    <script src="/Assets/script/twitter.js" type="text/javascript"></script>
}

<div class="introduction">
    <p>@MultiLanguage.Dictionary["Index_Introdution"]</p>
    
    <p>
        @Html.Raw(String.Format(
            MultiLanguage.Dictionary["Index_Explanation"],
            "<a href='" + Url.Action("SignUp", "User") + "'>", "</a>"
        ))
    </p>
    
    <p>
        @Html.Raw(String.Format(
            MultiLanguage.Dictionary["Index_Close"],
            "dfm@dontflymoney.com"
        ))
    </p>
</div>

<div class="twitter">
    <a class="twitter-timeline" 
            href="https://twitter.com/dfm_grunt" 
            width="300px" height="400px" target="_blank"
            data-widget-id="386678992192806915">

        Tweets by @("@")dfm_grunt

    </a>
</div>

<a href="#" class="twitter-link"></a>
<a href="#" class="android-link"></a>