@using DFM.Email
@{
    ViewBag.Title = MultiLanguage.Dictionary["SignUp"];
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}

<div class="half-screen">
    @String.Format(
        MultiLanguage.Dictionary["SignUpSuccess", "FollowEmailIntructions"],
        Sender.SenderAddress)
</div>