@{
    ViewBag.Title = MultiLanguage.Dictionary["SignUp"];
}

<div class="half-screen">
    @String.Format(
        MultiLanguage.Dictionary["SignUpSuccess", "FollowEmailIntructions"],
        DFM.Email.Sender.SenderAddress)
</div>