<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-BR">
<head>
	<title>Dados exportados do Sistema</title>
</head>
<body>
<div style="[^\"]+">

	<div style="[^\"]+">
		<div style="[^\"]+">
			Dados exportados

			<a style="[^\"]+"
				href="{{Url}}"
				target="_blank"
				rel="noopener noreferrer"
				title="Don't fly Money">
				<img src="{{Url}}/assets/images/mail-pig-on.png"
					alt="Porquinho rosa, símbolo do Don't fly Money"
					title="Porquinho rosa, símbolo do Don't fly Money" />
			</a>
		</div>
	</div>

	<div style="[^\"]+">

		Estamos enviando em anexo dados exportados do sistema.

		<hr style="[^\"]+" />

		Essa exportação foi requisitada em:
		<br /><br />
		{{OrderDate}}

		<hr style="[^\"]+" />

		O pedido foi para exportar os dados entre as datas:
		<br /><br />
		{{DateRangeStart}} - {{DateRangeEnd}}

		<hr style="[^\"]+" />

		Contas inclusas na exportação:
		<br /><br />
		{{Accounts}}

		<hr style="[^\"]+" />

		Categorias inclusas na exportação:
		<br /><br />
		{{Categories}}

		<hr style="[^\"]+" />

		O arquivo anexo estará disponível para baixar do Sistema até {{AvailableUntil}}.

		<span style="[^\"]+">[0-9A-F]{32}</span>
	</div>

	<div style="[^\"]+">
		<a href="{{Url}}/Misc"
			target="_blank"
			rel="noopener noreferrer"
			style="[^\"]+"
			title="[^\"]+">
			<div style="[^\"]+">
				<div style="[^\"]+">
					<div style="[^\"]+">
						<div style="[^\"]+">
							<div style="[^\"]+">
							</div>
						</div>
					</div>
				</div>
			</div>
		</a>
		Não temos vínculos com instituições financeiras.<br />
		Não responda este e-mail.<br />
		Nosso contato: dfm@dontflymoney.com
		<span style="[^\"]+">[0-9A-F]{32}</span>
	</div>
</div>
</body>
</html>
