<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Termos de uso do sistema Don't fly Money</title>
</head>
<body>
<div style="[^\"]+">

	<div style="[^\"]+">
		<div style="[^\"]+">
			Contrato não assinado

			<a style="[^\"]+"
				href="{{Url}}"
				target="_blank"
				rel="noopener noreferrer"
				title="Don't fly Money">
				<img src="{{Url}}/assets/images/mail-pig-on.png" alt="Don't fly Money" title="Don't fly Money" />
			</a>
		</div>
	</div>

	<div style="[^\"]+">
		<span style="[^\"]+">
			Seu registro e os dados inseridos no sistema Don't fly Money estão para ser excluídos.
		</span>

		<br />

		Os termos de uso do sistema servem para orientar quem usa e manter segura
		 a relação entre a Pessoa e o Sistema.
		 Faz algum tempo que foi instituída uma nova versão desses termos.
		 Caso não sejam assinados, não é possível seguir usando o Sistema.
		 A data de entrada em vigor dos novos termos foi:

		<div style="[^\"]+">
			<h3>{{Date}}</h3>
		</div>

		A exclusão não é imediata. Há um prazo de 90 dias.
		 Sendo assim, o tempo restante até a exclusão é de:

		<div style="[^\"]+">
			<h1 style="[^\"]+">
				{{Count}}
			</h1>
			dias
		</div>

		<a style="[^\"]+"
			href="{{Url}}/contract"
			target="_blank"
			rel="noopener noreferrer"
		>
			Leia os termos de uso no site<br />
			para entender mais sobre a exclusão de dados.
		</a>

		<span style="[^\"]+">[0-9A-F]{32}</span>
	</div>

	<div style="[^\"]+">
		<a href="{{Url}}/Misc"
			target="_blank"
			rel="noopener noreferrer"
			style="[^\"]+">
			<div style="[^\"]+">
				<div style="[^\"]+">
					<div style="[^\"]+">
						<div style="[^\"]+">
							<div style="[^\"]+">
							</div>
						</div>
					</div>
				</div>
			</div>
		</a>
		Não temos vínculos com instituições financeiras.<br />
		Não responda este e-mail.<br />
		Nosso contato: dfm@dontflymoney.com
		<span style="[^\"]+">[0-9A-F]{32}</span>
	</div>
</div>
</body>
</html>
