<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-BR">
<head>
	<title>Parece que você não está mais usando o sistema</title>
</head>
<body>
<div style="[^\"]+">

	<div style="[^\"]+">
		<div style="[^\"]+">
			Sem interação

			<a style="[^\"]+"
				href="{{Url}}"
				target="_blank"
				rel="noopener noreferrer"
				title="Don't fly Money">
				<img src="{{Url}}/assets/images/mail-pig-on.png"
					alt="Porquinho rosa, símbolo do Don't fly Money"
					title="Porquinho rosa, símbolo do Don't fly Money" />
			</a>
		</div>
	</div>

	<div style="[^\"]+">
		<span style="[^\"]+">
			Seu registro e os dados inseridos no sistema Don't fly Money estão para ser excluídos.
		</span>

		<br />

		O sistema é de uso gratuito, porém gera custos para quem o mantém no ar.
		 Faz algum tempo que os dados inseridos no Sistema não são acessados ou alterados.
		 Sendo assim, não faz sentido mantê-los, já que não estão sendo usados.
		 O último acesso foi em:

		<div style="[^\"]+">
			<h3>{{Date}}</h3>
		</div>

		A exclusão não é imediata. Há um prazo de 90 dias.
		 Sendo assim, o tempo restante até a exclusão é de:

		<div style="[^\"]+">
			<h1 style="[^\"]+">
				{{Count}}
			</h1>
			dias
		</div>

		<a style="[^\"]+"
			href="{{Url}}/contract"
			target="_blank"
			rel="noopener noreferrer"
		>
			Leia os termos de uso no site<br />
			para entender mais sobre a exclusão de dados.
		</a>

		<span style="[^\"]+">[0-9A-F]{32}</span>
	</div>

	<div style="[^\"]+">
		<a href="{{Url}}/Misc"
			target="_blank"
			rel="noopener noreferrer"
			style="[^\"]+">
			<div style="[^\"]+">
				<div style="[^\"]+">
					<div style="[^\"]+">
						<div style="[^\"]+">
							<div style="[^\"]+">
							</div>
						</div>
					</div>
				</div>
			</div>
		</a>
		Não temos vínculos com instituições financeiras.<br />
		Não responda este e-mail.<br />
		Nosso contato: dfm@dontflymoney.com
		<span style="[^\"]+">[0-9A-F]{32}</span>
	</div>
</div>
</body>
</html>
