<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-BR">
<head>
	<title>Dados exportados</title>
</head>
<body>
<div style="[^\"]+">

	<div style="[^\"]+">
		<div style="[^\"]+">
			Dados exportados

			<a style="[^\"]+"
				href="{{Url}}"
				target="_blank"
				rel="noopener noreferrer"
				title="Don't fly Money">
				<img src="{{Url}}/assets/images/mail-pig-on.png"
					alt="Porquinho rosa, símbolo do Don't fly Money"
					title="Porquinho rosa, símbolo do Don't fly Money" />
			</a>
		</div>
	</div>

	<div style="[^\"]+">
		Por requisição feita via site, estamos enviando em anexo dados exportados do sistema.
		<br /><br />
		Seus dados foram excluídos do Sistema, mas não devido a um pedido seu direto.
		 Neste caso, um arquivo é exportado com os dados das movimentações criadas no Sistema.
		 Este arquivo ainda estava disponível e está anexo neste e-mail.
		 Porém são seus dados: se quiser que o arquivo seja excluído,
		 você pode fazer isso clicando no link abaixo.
		<br /><br />
		Caso escolha excluir o arquivo, você não poderá requisitá-lo novamente no Sistema.

		<div style="[^\"]+">
			<a style="[^\"]+"
				href="{{Url}}/>{{PathAction}}>{{Token}}"
				target="_blank"
				rel="noopener noreferrer"
				title="Clique aqui excluir DEFINITIVAMENTE do Sistema Don't fly Money o arquivo csv anexado neste e-mail."
			>
				Clique aqui excluir DEFINITIVAMENTE do Sistema Don't fly Money o arquivo csv anexado neste e-mail.
			</a>
		</div>

		Se preferir, vá até o site, clique no link 'Token recebido via e-mail' e cole o Token.

		<div style="[^\"]+">
			{{Token}}
		</div>

		Se você não quer excluir o arquivo, por favor, desative o Token.

		<div style="[^\"]+">
			<a style="[^\"]+"
				href="{{Url}}/>{{PathDisable}}>{{Token}}"
				target="_blank"
				rel="noopener noreferrer"
			>
				Desativar Token
			</a>
		</div>

		Token válido até {{Date}} \(horário de Greenwich\).

		<br /><br />

		<a style="[^\"]+"
			href="{{Url}}/contract"
			target="_blank"
			rel="noopener noreferrer">
			Leia os termos de uso no site<br />
			para entender mais sobre a exclusão de dados.
		</a>

		<span style="[^\"]+">[0-9A-F]{32}</span>
	</div>

	<div style="[^\"]+">
		<a href="{{Url}}/Misc"
			target="_blank"
			rel="noopener noreferrer"
			style="[^\"]+"
			title="[^\"]+">
			<div style="[^\"]+">
				<div style="[^\"]+">
					<div style="[^\"]+">
						<div style="[^\"]+">
							<div style="[^\"]+">
							</div>
						</div>
					</div>
				</div>
			</div>
		</a>
		Não temos vínculos com instituições financeiras.<br />
		Não responda este e-mail.<br />
		Nosso contato: dfm@dontflymoney.com
		<span style="[^\"]+">[0-9A-F]{32}</span>
	</div>
</div>
</body>
</html>
