<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Recuperação de Senha</title>
</head>
<body>
<div style="[^\"]+">

	<div style="[^\"]+">
		<div style="[^\"]+">
			Senha

			<a style="[^\"]+"
				href="{{Url}}"
				target="_blank"
				rel="noopener noreferrer"
				title="Don't fly Money">
				<img src="{{Url}}/assets/images/mail-pig-on.png" alt="Don't fly Money" title="Don't fly Money" />
			</a>
		</div>
	</div>

	<div style="[^\"]+">
		Foi feita uma solicitação para recuperar sua senha. Para completar o processo, clique no link abaixo e escolha a nova senha.

		<div style="[^\"]+">
			<a style="[^\"]+"
				href="{{Url}}/>{{PathAction}}>{{Token}}"
				target="_blank"
				rel="noopener noreferrer"
			>
				Senha
			</a>
		</div>

		Se preferir, vá até o site, clique no link 'Token recebido via e-mail' e cole o Token.

		<div style="[^\"]+">
			{{Token}}
		</div>

		Se você não fez esta solicitação, por favor, desative o Token. Não será necessário passar qualquer informação.

		<div style="[^\"]+">
			<a style="[^\"]+"
				href="{{Url}}/>{{PathDisable}}>{{Token}}"
				target="_blank"
				rel="noopener noreferrer"
			>
				Desativar Token
			</a>
		</div>

		Token válido até {{Date}} \(horário de Greenwich\).
		<span style="[^\"]+">[0-9A-F]{32}</span>
	</div>
	
	<div style="[^\"]+">
		<a href="{{Url}}/Misc"
			target="_blank"
			rel="noopener noreferrer"
			style="[^\"]+">
			<div style="[^\"]+">
				<div style="[^\"]+">
					<div style="[^\"]+">
						<div style="[^\"]+">
							<div style="[^\"]+">
							</div>
						</div>
					</div>
				</div>
			</div>
		</a>
		Não temos vínculos com instituições financeiras.<br />
		Não responda este e-mail.<br />
		Nosso contato: dfm@dontflymoney.com
		<span style="[^\"]+">[0-9A-F]{32}</span>
	</div>
</div>
</body>
</html>
