<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-BR">
<head>
	<title>Login mais Seguro desativado</title>
</head>
<body>
<div style="[^\"]+">

	<div style="[^\"]+">
		<div style="[^\"]+">
			Login mais Seguro

			<a style="[^\"]+"
				href="{{Url}}"
				target="_blank"
				rel="noopener noreferrer"
				title="Don't fly Money">
				<img src="{{Url}}/assets/images/mail-pig-on.png"
					alt="Porquinho rosa, símbolo do Don't fly Money"
					title="Porquinho rosa, símbolo do Don't fly Money" />
			</a>
		</div>
	</div>

	<div style="[^\"]+">
		<p>
			<strong>Este e-mail é apenas um aviso de segurança.</strong>
		</p>

		<p>
			Você está recebendo esta mensagem porque foi solicitada a remoção do
			 Login mais Seguro no Sistema Don't fly Money.
		</p>

		<p>
			Para realizar este procedimento, foi pedida a senha cadastrada
			 no Sistema e em seguida foi enviado um email para este
			 mesmo endereço com um token para a remoção. Após o uso do
			 token, o Login mais Seguro foi removido.
		</p>

		<p>
			Caso não tenha sido você, recomendamos habilitar novamente o
			 Login mais Seguro e verificar se suas Contas parecem
			 normais. Se foi, também é possível reabilitar o Login mais
			 Seguro via Sistema.
		</p>

		<span style="[^\"]+">[0-9A-F]{32}</span>
	</div>
	
	<div style="[^\"]+">
		<a href="{{Url}}/Misc"
			target="_blank"
			rel="noopener noreferrer"
			style="[^\"]+"
			title="[^\"]+">
			<div style="[^\"]+">
				<div style="[^\"]+">
					<div style="[^\"]+">
						<div style="[^\"]+">
							<div style="[^\"]+">
							</div>
						</div>
					</div>
				</div>
			</div>
		</a>
		Não temos vínculos com instituições financeiras.<br />
		Não responda este e-mail.<br />
		Nosso contato: dfm@dontflymoney.com
		<span style="[^\"]+">[0-9A-F]{32}</span>
	</div>
</div>
</body>
</html>
