<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-BR">
<head>
	<title>Dados excluídos</title>
</head>
<body>
<div style="[^\"]+">

	<div style="[^\"]+">
		<div style="[^\"]+">
			Dados excluídos

			<a style="[^\"]+"
				href="{{Url}}"
				target="_blank"
				rel="noopener noreferrer"
				title="Don't fly Money">
				<img src="{{Url}}/assets/images/mail-pig-on.png"
					alt="Porquinho rosa, símbolo do Don't fly Money"
					title="Porquinho rosa, símbolo do Don't fly Money" />
			</a>
		</div>
	</div>

	<div style="[^\"]+">
		<span style="[^\"]+">
			Seu registro e os dados inseridos<br />
			no sistema Don't fly Money<br />
			foram excluídos.
		</span>

		<br />

		Quando você inseriu dados em no sistema, estes não deixaram de ser SEUS
		 dados. Portanto, quando você pede que sejam removidos, nós temos que
		 fazer isso. A requisição foi feita em:

		<div style="[^\"]+">
			<h3>{{Date}}</h3>
		</div>

		Se você requisitou a remoção, ela aconteceu algum tempo após a
		 requisição. Quando os dados são removidos por requisição da pessoa, não
		 é mantida cópia deles.

		<br /><br />

		Caso não tenha requisitado, a exclusão não foi imediata. Havia um prazo
		 de 90 dias e dois avisos foram enviados. Quando os dados são removidos
		 do sistema sem que a pessoa requisite e se houver movimentações, as
		 movimentações são gravadas em um arquivo, mas não há garantias de quanto
		 tempo o arquivo é mantido. Você pode tentar requisitar esse arquivo,
		 porém ele pode não estar mais disponível. O e-mail que você
		 usou para se registrar foi:

		<div style="[^\"]+">
			{{UserEmail}}
		</div>

		<a style="[^\"]+"
			href="{{Url}}/contract"
			target="_blank"
			rel="noopener noreferrer"
		>
			Leia os termos de uso no site<br />
			para entender mais sobre a exclusão de dados.
		</a>

		<span style="[^\"]+">[0-9A-F]{32}</span>
	</div>

	<div style="[^\"]+">
		<a href="{{Url}}/Misc"
			target="_blank"
			rel="noopener noreferrer"
			style="[^\"]+">
			<div style="[^\"]+">
				<div style="[^\"]+">
					<div style="[^\"]+">
						<div style="[^\"]+">
							<div style="[^\"]+">
							</div>
						</div>
					</div>
				</div>
			</div>
		</a>
		Não temos vínculos com instituições financeiras.<br />
		Não responda este e-mail.<br />
		Nosso contato: dfm@dontflymoney.com
		<span style="[^\"]+">[0-9A-F]{32}</span>
	</div>
</div>
</body>
</html>
