@using System.Globalization
@model BaseSiteModel

@{
	var theme = Model.Theme.ToString().ToLower();
	var colors = Model.Theme.Colors() ? "on" : "off";
	var culture = new CultureInfo(Model.Language);
	var format = culture.NumberFormat;
	var thousands = format.CurrencyGroupSeparator;
	var decimals = format.CurrencyDecimalSeparator;
}

<!DOCTYPE html>

<html lang="@Model.Language">
<head>
	<title>@await Html.PartialAsync("Skeleton/Title")</title>

	<link rel="shortcut icon" type="image/ico"
		class="image-decolorize"
		href="~/Assets/images/pig-@(colors).ico?v=@Cfg.Version"  />
	<meta property="og:image"
		content="https://dontflymoney.com/Assets/images/face-pig-@(colors).png?v=@Cfg.Version"/>

	<environment include="Development">
		<link href="~/Assets/themes/bootstrap.css?v=@Cfg.Version" rel="stylesheet" type="text/css" />
	</environment>
	<environment exclude="Development">
		<link href="~/Assets/themes/bootstrap.min.css?v=@Cfg.Version" rel="stylesheet" type="text/css" />
	</environment>

	<link href="~/Assets/themes/colors-@(theme).css?v=@Cfg.Version" rel="stylesheet" type="text/css" id="bootstrap-theme" />
	<link href="~/Assets/styles/android.css?v=@Cfg.Version" rel="stylesheet" type="text/css" />
	<link href="~/Assets/styles/default.css?v=@Cfg.Version" rel="stylesheet" type="text/css" />
	<link href="~/Assets/styles/language.css?v=@Cfg.Version" rel="stylesheet" type="text/css" />

	<link href="~/Assets/styles/misc.css?v=@Cfg.Version" rel="stylesheet" type="text/css" />
	<link href="~/Assets/styles/tip.css?v=@Cfg.Version" rel="stylesheet" type="text/css" />

	@if (Model.ShowWizard)
	{
		<link href="~/Assets/styles/wizard.css?v=@Cfg.Version" rel="stylesheet" type="text/css" />
	}

	@await RenderSectionAsync("Styles", false)

	<script src="~/Assets/libs/jquery/jquery.min.js?v=@Cfg.Version" type="text/javascript"></script>
	<script src="~/Assets/libs/bootstrap/umd/popper.min.js?v=@Cfg.Version" type="text/javascript"></script>
	<script src="~/Assets/libs/bootstrap/js/bootstrap.min.js?v=@Cfg.Version" type="text/javascript"></script>
	<script src="~/Assets/libs/jquery/jquery.maskMoney.min.js?v=@Cfg.Version" type="text/javascript"></script>

	<script type="text/javascript">
		const thousands = '@thousands';
		const decimal = '@decimals';
		const lang = '@Model.Language';
	</script>
	<script src="~/Assets/scripts/default.js?v=@Cfg.Version" type="text/javascript"></script>
	<script src="~/Assets/scripts/tip.js?v=@Cfg.Version" type="text/javascript"></script>

	<script src="~/Assets/libs/jquery/jquery.unobtrusive-ajax.min.js?v=@Cfg.Version"></script>

	@if (Model.ShowWizard)
	{
		<script src="~/Assets/scripts/wizard.js?v=@Cfg.Version"></script>
	}

	@await RenderSectionAsync("Scripts", false)
</head>
<body>
	@if (Model.ShowWizard && Model.HasWizard())
	{
		<span id="wh" class="wh"><span></span></span>
	}

	@await Html.PartialAsync("Skeleton/Header")

	<div id="body" class="container" role="main">
		@await Html.PartialAsync("Skeleton/Now")

		@await Html.PartialAsync("Skeleton/ActivateWarning")

		@if (Model.ShowWizard && Model.HasWizard())
		{
			@await Html.PartialAsync("Skeleton/Wizard")
		}

		@RenderBody()
	</div>

	@await Html.PartialAsync("Skeleton/Footer")

	@await Html.PartialAsync("Skeleton/Tip")

	<div role="complementary">
		@await Html.PartialAsync("Modals/Language")

		@await Html.PartialAsync("Modals/Contact")

		@if (Model.IsAuthenticated)
		{
			@await Html.PartialAsync("Modals/Search")
		}
	</div>
</body>
</html>
