@using System.Globalization
@model BaseSiteModel

@{
	var theme = Model.Theme.ToString().ToLower();
	var culture = new CultureInfo(Model.Language);
	var format = culture.NumberFormat;
	var thousands = format.CurrencyGroupSeparator;
	var decimals = format.CurrencyDecimalSeparator;
}

<!DOCTYPE html>

<html>
<head>
	<title>@await Html.PartialAsync("Skeleton/Title")</title>

	<link rel="shortcut icon" type="image/ico" href="~/Assets/images/pig.ico?v=@Cfg.Version" />
	<meta property="og:image" content="https://dontflymoney.com/Assets/images/face-pig.png?v=@Cfg.Version" />

	<link href="~/Assets/themes/bootstrap-@(theme).min.css?v=@Cfg.Version" rel="stylesheet" type="text/css" id="bootstrap-theme" />
	<link href="~/Assets/styles/android.css?v=@Cfg.Version" rel="stylesheet" type="text/css" />
	<link href="~/Assets/styles/default.css?v=@Cfg.Version" rel="stylesheet" type="text/css" />
	<link href="~/Assets/styles/language.css?v=@Cfg.Version" rel="stylesheet" type="text/css" />

	@RenderSection("Styles", false)

	<script src="~/Assets/libs/jquery/jquery.min.js?v=@Cfg.Version" type="text/javascript"></script>
	<script src="~/Assets/libs/bootstrap/umd/popper.min.js?v=@Cfg.Version" type="text/javascript"></script>
	<script src="~/Assets/libs/bootstrap/js/bootstrap.min.js?v=@Cfg.Version" type="text/javascript"></script>
	<script src="~/Assets/libs/jquery/jquery.maskMoney.min.js?v=@Cfg.Version" type="text/javascript"></script>

	<script type="text/javascript">
		const thousands = '@thousands';
		const decimal = '@decimals';
	</script>
	<script src="~/Assets/scripts/default.js?v=@Cfg.Version" type="text/javascript"></script>

	<script src="~/Assets/libs/jquery/jquery.unobtrusive-ajax.min.js?v=@Cfg.Version"></script>

	@RenderSection("Scripts", false)
</head>
<body>
	@await Html.PartialAsync("Skeleton/Header")

	<div id="body" class="container">
		@await Html.PartialAsync("Skeleton/Wizard")
		@RenderBody()
	</div>

	@await Html.PartialAsync("Skeleton/Footer")

	@await Html.PartialAsync("Modals/Language")

	@await Html.PartialAsync("Modals/Contact")

	@if (Model.IsAuthenticated)
	{
		@await Html.PartialAsync("Modals/Search")
	}
</body>
</html>
