@{
	Layout = "_Master.cshtml";
	String style = ViewBag.Style;
}

<div class="row move-down">
	<div class="col-sm-6 col-sm-push-3 text-center">

		<div class="alert alert-@style">
			@RenderBody()
		</div>

		@await Html.PartialAsync("Skeleton/ValidationSummary")

	</div>
</div>

@section Scripts { @RenderSection("Scripts", false) }
@section Styles { @RenderSection("Styles", false) }
