@{
	Layout = "_Master.cshtml";
	String style = ViewBag.Style;
}

<div class="row move-down result-page">
	<div class="col-sm-6 col-sm-push-3 text-center">

		<div class="alert alert-@style">
			<h1>@ViewBag.Title</h1>
			@RenderBody()
		</div>

		@await Html.PartialAsync("Skeleton/ValidationSummary")

	</div>
</div>

@section Scripts { @await RenderSectionAsync("Scripts", false) }
@section Styles { @await RenderSectionAsync("Styles", false) }
